:host ::ng-deep {
  .error {
    color: var(--ion-color-danger);
    border: 1.5px solid var(--ion-color-flamingo);
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
  }
  h1 {
    margin: 0 0 25px;
    font-size: 20px;
    text-align: center;
  }
  a {
    display: block;
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 14px;
    text-decoration: none !important;
  }
}

.auth--div {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  a.pt {
    position: relative;
    cursor: pointer;
  }
}

.auth--card {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__action {
    margin: 10px 0 30px;
  }
  &__toggle {
    border-radius: 0 0 4px 4px;
    border-top: 1.5px solid var(--ion-color-light);
    padding-top: 10px;
    padding-bottom: 25px;
    margin: 0 -30px -30px;
  }
  ion-label.auth--label {
    display: block;
    margin: 0;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
  }
  ion-input.auth--input {
    outline: 0;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0;
    width: 100%;
    color: var(--ion-color-dark);
    background: var(--ion-color-light);
    border: 1.5px solid var(--ion-color-light);
    text-align: center;
    &::-webkit-input-placeholder {
      color: var(--ion-color-dark);
    }
    &.auth--only {
      border-radius: 4px !important;
    }
  }
  img.auth--logo {
    padding-top: 5%;
  }
}