<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/Teams', (team$ | async)?.id, 'Team']"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ (member$ | async)?.displayName }}
            <app-user-presence class="presence--dot--title" [uid]="(member$ | async)?.uid"></app-user-presence>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment" value="info" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="info">Info</ion-segment-button>
            <ion-segment-button value="messages" *ngIf="(member$ | async)?.uid !== (profile$ | async)?.uid">Messages
            </ion-segment-button>
            <ion-segment-button value="files">Files</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile--content" #contentArea [class.scroll-ios]="ios" [ngSwitch]="segment">
    <div *ngSwitchCase="'info'">
        <div class="profile-section">
            <ion-card class="profile-container">
                <img class="profile-img"
                    [src]="(dark$ | async) ? '../../../assets/underwater_dark.svg' : '../../../assets/underwater.svg'">
            </ion-card>
            <ion-thumbnail class="avatar-thumbnail profile-thumbnail">
                <img *ngIf="(member$ | async)?.url; else elseMemberAvatar"
                    src="{{ (member$ | async)?.url_150 ? (member$ | async)?.url_150 : (member$ | async)?.url }}">
                <ng-template #elseMemberAvatar>
                    <ngx-avatar *ngIf="(member$ | async)?.displayName; else elseEmailAvatar"
                        name="{{ (member$ | async)?.displayName }}" [size]="150" [round]="false" [cornerRadius]="150">
                    </ngx-avatar>
                    <ng-template #elseEmailAvatar>
                        <ngx-avatar name="{{ (profile$ | async)?.email }}" [size]="150" [round]="false"
                            [cornerRadius]="150"></ngx-avatar>
                    </ng-template>
                </ng-template>
            </ion-thumbnail>
        </div>
        <div id="container">
            <ion-list class="theme-list">
                <ion-list-header>
                    Member Info
                </ion-list-header>
                <ion-item lines="none" class="theme-item" *ngIf="(member$ | async)">
                    <ion-icon slot="start" name="person-outline"></ion-icon>
                    <ion-label>
                        <h2><strong>{{ (member$ | async)?.displayName }}</strong></h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none" class="theme-item" *ngIf="(member$ | async)">
                    <ion-icon slot="start" name="mail-outline"></ion-icon>
                    <ion-label>
                        <h2>{{ (member$ | async)?.email }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none" class="theme-item" *ngIf="(member$ | async)">
                    <ion-icon slot="start" name="people-outline"></ion-icon>
                    <ion-label>
                        <h2>{{ (member$ | async)?.role }}</h2>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="6" *ngIf="(member$ | async)?.uid === (profile$ | async)?.uid">
                        <ion-button expand="block" fill="outline" [routerLink]="['/Profile']" routerDirection="back">
                          <ion-icon name="create-outline" class="ion-margin-end"></ion-icon>
                          Edit Profile
                        </ion-button>
                    </ion-col>
                    <ion-col size="6" *ngIf="(member$ | async)?.uid !== (profile$ | async)?.uid">
                        <ion-button expand="block" fill="outline" (click)="segment = 'messages'">
                            <ion-icon name="chatbubble-ellipses-outline" class="ion-margin-end"></ion-icon>
                            Messages
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button expand="block" fill="outline" (click)="segment = 'files'">
                            <ion-icon name="document-text-outline" class="ion-margin-end"></ion-icon>
                            Files
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

    <div id="message--container" *ngSwitchCase="'messages'">
        <ion-list #scroll class="theme-list">
            <ion-item class="theme-item" lines="none"></ion-item>

            <div *ngFor="let m of (member$ | async)?.messages; trackBy: trackFn; let last = last; let i = index">

                <ion-row class="ion-justify-content-center ion-padding"
                    *ngIf="(member$ | async)?.messages[i-1] && m.timestamp.toMillis() - (member$ | async)?.messages[i-1].timestamp.toMillis() > 1800000 || !(member$ | async)?.messages[i-1]">
                    <ion-text *ngIf="time > m.timestamp.toMillis(); else elseDate" class="message--time" color="medium">
                        {{ m.timestamp.toMillis() | date : 'short' }}</ion-text>
                    <ng-template #elseDate>
                        <ion-text class="message--time" color="medium">Today,
                            {{ m.timestamp.toMillis() | date : 'shortTime' }}</ion-text>
                    </ng-template>
                </ion-row>

                <ion-item class="theme-item message--item" lines="none"
                    [class.changeUser]="(member$ | async)?.messages[i-1] && (member$ | async)?.messages[i-1].uid !== m.uid">
                    <ion-row class="member-row" slot="start"
                        *ngIf="m.uid !== (profile$ | async)?.uid; else elseUserMessage">
                        <ion-avatar class="dialog--member"
                            *ngIf="(member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || !(member$ | async)?.messages[i+1] || (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
                            <img *ngIf="(member$ | async)?.url; else elseTextAvatar"
                                src="{{ (member$ | async)?.url_150 ? (member$ | async)?.url_150 : (member$ | async)?.url }}">
                            <ng-template #elseTextAvatar>
                                <ngx-avatar name="{{ (member$ | async)?.displayName }}" [size]="40">
                                </ngx-avatar>
                            </ng-template>
                        </ion-avatar>

                        <ion-col class="member--col" size="auto">

                            <ion-button *ngIf="m.style && m.style !== 'message'; else elseMemberText" fill="clear"
                                class="message--file" [class.message--file--height]="m.style === 'file'"
                                [class.message--file--output]="m.style === 'file'" (click)="previewFile(m)">
                                <img *ngIf="m.style === 'image'" class="message--image" [src]="m.body">
                                <ion-label *ngIf="m.style === 'file'" class="message--file--label">
                                    <ion-icon size="large" name="document-text-outline"></ion-icon>
                                    <h3>{{ m.fileName }}</h3>
                                </ion-label>
                            </ion-button>

                            <ng-template #elseMemberText>
                                <ion-card class="dialog-card message-card message-member">
                                    <ion-card-content class="message--content">
                                        <h2 text-wrap style="white-space: pre-line;">
                                            <ion-text color="dark">{{ m.body }}</ion-text>
                                        </h2>
                                    </ion-card-content>
                                </ion-card>
                            </ng-template>

                        </ion-col>
                    </ion-row>

                    <ng-template #elseUserMessage>
                        <ion-row class="user--row" slot="end">
                            <ion-col class="user--col">

                                <ion-button *ngIf="m.style && m.style !== 'message'; else elseUserText" fill="clear"
                                    class="message--file" [class.message--file--height]="m.style === 'file'"
                                    [class.message--file--output]="m.style === 'file'" (click)="previewFile(m)">
                                    <img *ngIf="m.style === 'image'" class="message--image" [src]="m.body">
                                    <ion-label *ngIf="m.style === 'file'" class="message--file--label">
                                        <ion-icon size="large" name="document-text-outline"></ion-icon>
                                        <h3>{{ m.fileName }}</h3>
                                    </ion-label>
                                </ion-button>

                                <ng-template #elseUserText>
                                    <ion-card *ngIf="m.profile" color="primary"
                                        class="dialog-card message-card message-user">
                                        <ion-card-content class="message--content">
                                            <h2 text-wrap style="white-space: pre-line;">
                                                <ion-text>{{ m.body }}</ion-text>
                                            </h2>
                                        </ion-card-content>
                                    </ion-card>
                                </ng-template>

                            </ion-col>
                            <ion-avatar class="dialog--user"
                                *ngIf="m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || m.uid === (profile$ | async)?.uid && !(member$ | async)?.messages[i+1] || m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
                                <img *ngIf="(profile$ | async)?.url; else elseTextAvatar"
                                    src="{{ (profile$ | async)?.url_150 ? (profile$ | async)?.url_150 : (profile$ | async)?.url }}">
                                <ng-template #elseTextAvatar>
                                    <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="40">
                                    </ngx-avatar>
                                </ng-template>
                            </ion-avatar>
                        </ion-row>
                    </ng-template>
                </ion-item>
            </div>

            <ion-item class="theme-item" lines="none"></ion-item>
        </ion-list>
    </div>
    <div id="file--container" *ngSwitchCase="'files'">
        <ion-list class="theme-list" lines="none">
            <ion-item class="theme-item" (click)="scanDoc()" button lines="none">
                <ion-fab-button slot="start" class="inner-fab inner--fab--start" [class.ion-margin-top]="ios"
                    [class.ion-margin-bottom]="ios">
                    <ion-icon name="scan-outline"></ion-icon>
                </ion-fab-button>
                <ion-label>
                    <h2><strong>Scan Files</strong></h2>
                </ion-label>
            </ion-item>
            <ion-item class="theme-item" (click)="browseModal([])" button lines="none">
                <ion-fab-button slot="start" class="inner-fab inner--fab--start" [class.ion-margin-top]="ios"
                    [class.ion-margin-bottom]="ios">
                    <ion-icon name="document-text-outline"></ion-icon>
                </ion-fab-button>
                <ion-label>
                    <h2><strong>Upload Files</strong></h2>
                </ion-label>
            </ion-item>
            <div *ngIf="member$ | async as m">
                <ion-list inset="true" lines="none" *ngIf="m.files.length; else elseFile"
                    class="theme-list member--upload--list">
                    <div *ngFor="let f of m.files; let i = index">
                        <app-files-file [file]="f"
                            [displayName]="f.uid !== (profile$ | async)?.uid ? m.displayName : (profile$ | async)?.displayName"
                            (options)="fileOptions(f, m)"></app-files-file>
                    </div>
                </ion-list>
                <ng-template #elseFile>
                    <ion-item class="message--list">
                        <ion-label>
                            <h2><strong>No files yet</strong></h2>
                        </ion-label>
                    </ion-item>
                </ng-template>
            </div>
        </ion-list>
    </div>
</ion-content>

<div [ngSwitch]="segment">
    <ion-footer *ngSwitchCase="'messages'" [translucent]="true">
        <ion-toolbar>

            <ion-grid>
                <ion-row *ngIf="newFiles.length" class="ion-align-items-center">
                    <ion-button class="message-button" fill="clear" color="tertiary" disabled>
                        <ion-icon name=""></ion-icon>
                    </ion-button>
                    <ion-col class="message--files">
                        <ion-grid>
                            <ion-row>
                                <ion-col class="ion-padding" size="12" size-md="6" *ngFor="let file of newFiles">

                                    <app-message-file #childFile [teamId]="teamId" [directId]="directId" [file]="file"
                                        (remove)="removeFile(file)"></app-message-file>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-button class="message-button" fill="clear" color="tertiary" disabled>
                        <ion-icon name=""></ion-icon>
                    </ion-button>
                </ion-row>

                <ion-row class="ion-align-items-center">
                    <ion-button class="message-button" fill="clear" color="tertiary">
                        <ion-icon name="attach-outline"></ion-icon>
                        <label class="file-button">
                            <input type="file" (change)="fileChangeEvent($event)" />
                        </label>
                    </ion-button>
                    <ion-col>
                        <ion-textarea autoGrow="true" rows="1" class="message-form" placeholder="Message"
                            [(ngModel)]="newBody" (keyup.enter)="checkSendMessage()" (keydown.enter)="onKeydown($event)"
                            (ionFocus)="scrollOnFocus()" autocapitalize="sentences" (paste)="onPaste($event)">
                        </ion-textarea>
                    </ion-col>
                    <ion-button class="message-button" (click)="sendMessage()" fill="clear"
                        [disabled]="!newBody.length && !newFiles.length">
                        <ion-icon name="send-outline"></ion-icon>
                    </ion-button>
                </ion-row>
            </ion-grid>

        </ion-toolbar>
    </ion-footer>
</div>