<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/Teams', (team$ | async)?.id, 'Team']"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="member$ | async as member">
            {{ member.profile ? member.profile.displayName : '' }}
            <app-user-presence [uid]="member.uid"></app-user-presence>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment" value="info" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="info">Info</ion-segment-button>
            <ion-segment-button value="messages" *ngIf="(member$ | async)?.uid !== (profile$ | async)?.uid">Messages</ion-segment-button>
            <ion-segment-button value="files">Files</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile--content" #contentArea [class.scroll-ios]="ios" [ngSwitch]="segment">
    <ion-grid *ngSwitchCase="'info'" class="ion-no-padding">
        <ion-row class="profile--pic--header ion-justify-content-center ion-padding" *ngIf="(member$ | async)?.profile">
            <ion-col class="ion-justify-content-center ion-padding" size="auto">
                <ion-thumbnail class="avatar-thumbnail profile-thumbnail">
                    <img *ngIf="(member$ | async)?.profile.url; else elseMemberAvatar"
                        src="{{ (member$ | async)?.profile.url_150 ? (member$ | async)?.profile.url_150 : (member$ | async)?.profile.url }}">
                    <ng-template #elseMemberAvatar>
                        <ngx-avatar *ngIf="(member$ | async)?.profile.displayName; else elseEmailAvatar"
                            name="{{ (member$ | async)?.profile.displayName }}" [size]="150" [round]="false"
                            [cornerRadius]="150">
                        </ngx-avatar>
                        <ng-template #elseEmailAvatar>
                            <ngx-avatar name="{{ (profile$ | async)?.email }}" [size]="150" [round]="false"
                                [cornerRadius]="150"></ngx-avatar>
                        </ng-template>
                    </ng-template>
                </ion-thumbnail>
            </ion-col>
        </ion-row>
        <ion-row class="profile--info--row ion-align-items-stretch">
            <ion-col class="profile--info--col ion-align-self-stretch">
                <ion-card class="profile--info--card ion-no-margin ion-align-self-stretch">
                    <ion-card-content>
                        <div id="container">
                            <ion-list>
                                <ion-list-header>
                                    Member Info
                                </ion-list-header>
                                <ion-item lines="none" *ngIf="(member$ | async)?.profile">
                                    <ion-icon slot="start" name="person-outline"></ion-icon>
                                    <ion-label>
                                        <h2><strong>{{ (member$ | async)?.profile.displayName }}</strong></h2>
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none" *ngIf="(member$ | async)?.profile">
                                    <ion-icon slot="start" name="mail-outline"></ion-icon>
                                    <ion-label>
                                        <h2>{{ (member$ | async)?.profile.email }}</h2>
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none" *ngIf="(member$ | async)?.profile">
                                    <ion-icon slot="start" name="people-outline"></ion-icon>
                                    <ion-label>
                                        <h2>{{ (member$ | async)?.profile.role }}</h2>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div id="message--container" *ngSwitchCase="'messages'">
        <ion-list class="theme--list">
            <ion-item class="theme--item" lines="none"></ion-item>

            <div *ngFor="let m of (member$ | async)?.messages; trackBy: trackFn; let last = last; let i = index">

                <ion-row class="ion-justify-content-center ion-padding"
                    *ngIf="(member$ | async)?.messages[i-1] && m.timestamp.toMillis() - (member$ | async)?.messages[i-1].timestamp.toMillis() > 1800000 || !(member$ | async)?.messages[i-1]">
                    <ion-text *ngIf="time - m.timestamp.toMillis() > 86400000; else elseDate" class="message--time"
                        color="medium">{{ m.timestamp.toMillis() | date : 'short' }}</ion-text>
                    <ng-template #elseDate>
                        <ion-text class="message--time" color="medium">Today,
                            {{ m.timestamp.toMillis() | date : 'shortTime' }}</ion-text>
                    </ng-template>
                </ion-row>

                <ion-item class="theme--item message--item" lines="none"
                    [class.changeUser]="(member$ | async)?.messages[i-1] && (member$ | async)?.messages[i-1].uid !== m.uid">
                    <ion-row class="member--row" slot="start"
                        *ngIf="m.uid !== (profile$ | async)?.uid; else elseUserMessage">
                        <ion-avatar class="dialog--member"
                            *ngIf="(member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || !(member$ | async)?.messages[i+1] || (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
                            <img *ngIf="(member$ | async)?.profile.url; else elseTextAvatar"
                                src="{{ (member$ | async)?.profile.url_150 ? (member$ | async)?.profile.url_150 : (member$ | async)?.profile.url }}">
                            <ng-template #elseTextAvatar>
                                <ngx-avatar name="{{ (member$ | async)?.profile.displayName }}" [size]="40">
                                </ngx-avatar>
                            </ng-template>
                        </ion-avatar>

                        <ion-col class="member--col" size="auto">

                            <ion-card color="light" class="dialog member message--card">
                                <ion-card-content class="message--content">
                                    <h2 text-wrap style="white-space: pre-line;">{{ m.body }}</h2>
                                </ion-card-content>
                            </ion-card>

                        </ion-col>
                    </ion-row>

                    <ng-template #elseUserMessage>
                        <ion-row class="user--row" slot="end">
                            <ion-col class="user--col">

                                <ion-card *ngIf="m.profile" color="primary" class="dialog message--card message--user">
                                    <ion-card-content class="message--content">
                                        <h2 text-wrap style="white-space: pre-line;">{{ m.body }}</h2>
                                    </ion-card-content>
                                </ion-card>

                            </ion-col>
                            <ion-avatar class="dialog--user"
                                *ngIf="m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || m.uid === (profile$ | async)?.uid && !(member$ | async)?.messages[i+1] || m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
                                <img *ngIf="(profile$ | async)?.url; else elseTextAvatar"
                                    src="{{ (profile$ | async)?.url_150 ? (profile$ | async)?.url_150 : (profile$ | async)?.url }}">
                                <ng-template #elseTextAvatar>
                                    <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="40">
                                    </ngx-avatar>
                                </ng-template>
                            </ion-avatar>
                        </ion-row>
                    </ng-template>
                </ion-item>
            </div>

            <ion-item class="theme--item" lines="none"></ion-item>
        </ion-list>
    </div>
    <div id="file--container" *ngSwitchCase="'files'">
        <ion-list class="message--list" lines="none">
            <ion-item class="theme--item" (click)="scanDoc()" button lines="none">
                <ion-fab-button slot="start" class="inner--fab" [class.ion-margin-top]="ios" [class.ion-margin-bottom]="ios">
                    <ion-icon name="scan-outline"></ion-icon>
                </ion-fab-button>
                <ion-label>
                    <h2><strong>Scan Files</strong></h2>
                </ion-label>
            </ion-item>
            <ion-item class="theme--item" (click)="browseModal()" button lines="none">
                <ion-fab-button slot="start" class="inner--fab" [class.ion-margin-top]="ios" [class.ion-margin-bottom]="ios">
                    <ion-icon name="document-text-outline"></ion-icon>
                </ion-fab-button>
                <ion-label>
                    <h2><strong>Upload Files</strong></h2>
                </ion-label>
            </ion-item>
            <ion-list inset="true" lines="none" *ngIf="(member$ | async)?.files.length; else elseFile" class="theme--list member--upload--list">
                <ion-item class="theme--item" *ngFor="let f of (member$ | async)?.files; let i = index">
                    <ion-icon slot="start" [name]="'document' + '-outline'"></ion-icon>
                    <ion-label>
                        <h2>{{ f.name }}</h2>
                        <h3 *ngIf="f.uid !== (profile$ | async)?.uid; else elseUserName">
                            {{ (member$ | async)?.profile.displayName }}
                        </h3>
                        <ng-template #elseUserName>
                            <h3>{{ (profile$ | async)?.displayName }}</h3>
                        </ng-template>
                    </ion-label>
                    <ion-button fill="clear" (click)="removeMemberFile(directId,f.id,f.url)" slot="end">
                        <ion-icon slot="icon-only" color="danger" [name]="'trash' + '-outline'"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" (click)="previewFile(f)" slot="end">
                        <ion-icon slot="icon-only" [name]="'download' + '-outline'">
                        </ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
            <ng-template #elseFile>
                <ion-item class="message--list">
                    <ion-label>
                        <h2><strong>No files yet</strong></h2>
                    </ion-label>
                </ion-item>
            </ng-template>
        </ion-list>
    </div>
</ion-content>

<div [ngSwitch]="segment">
    <ion-footer *ngSwitchCase="'messages'" [translucent]="true">
        <ion-toolbar>
            <ion-col size="12">
                <ion-row class="ion-align-items-center ion-padding-horizontal">
                    <ion-textarea autoGrow="true" rows="1" class="message--input" placeholder="Message"
                        [(ngModel)]="newBody" (keyup.enter)="checkSendMessage()" (keydown.enter)="onKeydown($event)"
                        (ionFocus)="scrollOnFocus()" autocapitalize="sentences">
                    </ion-textarea>
                    <ion-button class="message--button ion-padding-start" (click)="sendMessage()" fill="clear"
                        [disabled]="!newBody.length">
                        <ion-icon [name]="'send' + '-outline'"></ion-icon>
                    </ion-button>
                </ion-row>
            </ion-col>
        </ion-toolbar>
    </ion-footer>
</div>