<div>
    <ion-button class="message--file" [class.message--file--height]="file.type !== 'image/png' && file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/gif'">
        <img *ngIf="file.type === 'image/png' || file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/gif'" class="message--image" [src]="file.value">
        <ion-label *ngIf="file.type !== 'image/png' && file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/gif'" class="message--file--label">
            <ion-icon size="large" name="document-text-outline"></ion-icon>
            <h3>{{ file.name }}</h3>
        </ion-label>
    </ion-button>
    <ion-button *ngIf="(snapshot | async) as snap; else elseWaiting" class="message--image--button" fill="clear" color="warning" (click)="task.cancel() && removeFile(file)">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
    <ng-template #elseWaiting>
        <ion-button class="message--image--button" fill="clear" color="warning" (click)="removeFile(file)">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
    </ng-template>
    <div *ngIf="percentage | async as pct">
        <ion-progress-bar [value]="pct / 100" class="message--image--progress"></ion-progress-bar>
    </div>
</div>