<ion-header translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Edit Child</ion-title>

        <ion-buttons slot="end">
            <ion-button color="tertiary" fill="solid" (click)="updateTeamInfo()">Save</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div id="container">
        <ion-grid fixed class="ion-margin-top">
            <ion-row>

                <ion-col size="12">
                    <img [src]="'../../../../assets/img/otter_' + random + '.svg'">
                </ion-col>

                <ion-col size="12">
                    <strong>Edit your child profile</strong>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-note>
                        Be sure to press save after you've made any changes
                    </ion-note>
                </ion-col>
                <ion-col size="12" *ngIf="error">

                    <div class="error" *ngIf="error">
                        You need to enter a child name.
                    </div>

                </ion-col>
                <ion-col size="12">
                    <ion-item lines="none" class="theme-item" *ngIf="team">
                        <ion-icon slot="start" name="happy-outline"></ion-icon>

                        <ion-input class="form" [(ngModel)]="team.child" placeholder="Add the child first name"
                            (ionFocus)="nameFocus = true" (ionBlur)="nameFocus = false" [class.focused]="nameFocus">
                        </ion-input>

                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item lines="none" class="theme-item" *ngIf="team">
                        <ion-icon slot="start" name="book-outline"></ion-icon>
                        <ion-textarea col="12" class="form" [(ngModel)]="team.bio"
                            placeholder="Add a bio, or tell a short story" autocapitalize="sentences"
                            (ionFocus)="bioFocus = true" (ionBlur)="bioFocus = false" [class.focused]="bioFocus">
                        </ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-item class="theme-item" lines="none"></ion-item>
    <ion-item class="theme-item" lines="none"></ion-item>

</ion-content>