rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth.uid != null;
    }
    
    function emailVerified() {
    	return request.auth.token.email_verified;
    }
    
    function userAccess(userId) {
    	return request.auth.uid == userId;
    }
    
    function otherUserAccess(userId) {
    	return get(/databases/$(database)/documents/users/$(resource.data.uid)/teammates/$(request.auth.uid)).data.teams > 0;
    }
    
    function teamAccess(teamId) {
    	return exists(/databases/$(database)/documents/teams/$(teamId)/members/$(request.auth.uid));
    }
    
    function teamAdmin(teamId) {
    	return get(/databases/$(database)/documents/teams/$(teamId)/members/$(request.auth.uid)).data.status == 'Admin';
    }
    
    function pendingTeamAccess(teamId) {
      return exists(/databases/$(database)/documents/teams/$(teamId)/pendingMembers/$(request.auth.uid));
    }
    
    function memberExists(teamId, memberUid) {
    	return exists(/databases/$(database)/documents/teams/$(teamId)/members/$(request.auth.uid))
    }
    
    function pendingMemberExists(teamId, memberUid) {
    	return exists(/databases/$(database)/documents/teams/$(teamId)/pendingMembers/$(request.auth.uid))
    }
    
    function directAccess(directId) {
    	return directId.matches('.*'+request.auth.uid) || directId.matches(request.auth.uid+'.*');
    }
    
    function directExists(teamId, directId) {
    	return exists(/databases/$(database)/documents/teams/$(teamId)/direct/$(directId))
    }
    
    function groupAccess(teamId, groupId) {
    	return exists(/databases/$(database)/documents/teams/$(teamId)/groups/$(groupId)/members/$(request.auth.uid));
    }
    
    function groupAdmin(teamId, groupId) {
    	return get(/databases/$(database)/documents/teams/$(teamId)/groups/$(groupId)/members/$(request.auth.uid)).data.status == 'Admin' || !exists(/databases/$(database)/documents/teams/$(teamId)/groups/$(groupId)/members/$(request.auth.uid)) && get(/databases/$(database)/documents/teams/$(teamId)/groups/$(groupId)).data.createdBy == request.auth.uid;
    }
    
    function groupExists(teamId, groupId) {
    	return exists(/databases/$(database)/documents/teams/$(teamId)/groups/$(groupId));
    }
    
  	match /users/{userId} {
    	allow read, write: if signedIn() && emailVerified() && userAccess(userId) || signedIn() && emailVerified() && otherUserAccess(userId);
      match /teams/{teamId} {
      	allow read, write: if signedIn() && emailVerified() && userAccess(userId);
        match /groups/{groupId} {
        	allow read, write: if signedIn() && emailVerified() && userAccess(userId);
        }
        match /files/{fileId} {
        	allow read, write: if signedIn() && emailVerified() && userAccess(userId);
        }
        match /unread/{unreadId} {
        	allow read, write: if signedIn() && emailVerified() && userAccess(userId);
        }
      }
      match /pendingTeams/{teamId} {
      	allow read, write: if signedIn() && emailVerified() && userAccess(userId);
      }
    }
    
    match /teams/{teamId} {
      allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) || signedIn() && emailVerified() && pendingTeamAccess(teamId);
      match /members/{memberUid} {
      	allow read: if signedIn() && emailVerified() && teamAccess(teamId);
        allow write: if signedIn() && emailVerified() && teamAdmin(teamId) || signedIn() && emailVerified() && pendingTeamAccess(teamId) && !memberExists(teamId, memberUid) && memberUid == request.auth.uid;
      }
      match /pendingMembers/{memberUid} {
      	allow read, write: if signedIn() && emailVerified() && teamAdmin(teamId) || signedIn() && emailVerified() && teamAdmin(teamId) && !pendingMemberExists(teamId, memberUid);
      }
      match /direct/{directId} {
      	allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && directAccess(directId) || signedIn() && emailVerified() && teamAccess(teamId) && !directExists(teamId, directId);
        match /members/{memberUid} {
      		allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && directAccess(directId) || signedIn() && emailVerified() && teamAccess(teamId) && !directExists(teamId, directId);
        }
        match /messages/{memberUid} {
      		allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && directAccess(directId) || signedIn() && emailVerified() && teamAccess(teamId) && !directExists(teamId, directId);
        }
        match /files/{memberUid} {
      		allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && directAccess(directId) || signedIn() && teamAccess(teamId) && emailVerified() && !directExists(teamId, directId);
        }
      }
      match /calendar/{eventId=**} {
      	allow read, write: if signedIn() && emailVerified() && teamAccess(teamId);
      }
      match /notes/{noteId=**} {
      	allow read, write: if signedIn() && emailVerified() && teamAccess(teamId);
      }
      match /resources/{resourceId=**} {
      	allow read, write: if signedIn() && emailVerified() && teamAccess(teamId);
      }
      match /groups/{groupId} {
      	allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && groupAccess(teamId, groupId) || signedIn() && emailVerified() && teamAccess(teamId) && !groupExists(teamId, groupId);
        match /members/{memberUid} {
      		allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && groupAdmin(teamId, groupId);
        }
        match /messages/{messageId} {
        	allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && groupAccess(teamId, groupId);
        }
        match /files/{fileId} {
          allow read, write: if signedIn() && emailVerified() && teamAccess(teamId) && groupAccess(teamId, groupId);
        }
      }
    }
    
  }
}