<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/Teams', (team$ | async)?.id, 'Messages']"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="(group$ | async)">{{ (group$ | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #contentArea [class.scroll-ios]="ios">
  <ion-header collapse="condense">
    <ion-toolbar class="large-title-fix">
      <ion-title size="large" *ngIf="(group$ | async)">{{ (group$ | async)?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="editGroupModal()">
      <ion-icon [ios]="'people' + '-outline'" [md]="'people' + '-sharp'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <ion-list #scroll class="message--list">
      <ion-item class="message--list" lines="none"></ion-item>
      <div *ngFor="let m of (group$ | async)?.messages; let i = index; trackBy: trackFn; let last = last">

        <ion-row class="ion-justify-content-center" *ngIf="(group$ | async)?.messages[i-1] && m.timestamp.toMillis() - (group$ | async)?.messages[i-1].timestamp.toMillis() > 900000 || !(group$ | async)?.messages[i-1]">
          <ion-text *ngIf="time - m.timestamp.toMillis() > 86400000; else elseDate" class="message--time"
            color="medium">{{ m.timestamp.toMillis() | date : 'short' }}</ion-text>
          <ng-template #elseDate>
            <ion-text class="message--time" color="medium">Today,
              {{ m.timestamp.toMillis() | date : 'shortTime' }}</ion-text>
          </ng-template>
        </ion-row>

        <ion-item *ngIf="m.profile" class="message--list" lines="none">
          
          <ion-row class="member--row" slot="start"
            *ngIf="m.profile && m.uid !== (profile$ | async)?.uid; else elseUserMessage">
            <ion-avatar *ngIf="m.profile && (group$ | async)?.messages[i+1] && m.profile !== (group$ | async)?.messages[i+1].profile || m.profile && !(group$ | async)?.messages[i+1] || (group$ | async)?.messages[i+1] && (group$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 900000" class="dialog--member">
              <img *ngIf="m.profile.url; else elseTextAvatar" src="{{ m.profile.url }}">
              <ng-template #elseTextAvatar>
                <ngx-avatar name="{{ m.profile.displayName }}" [size]="40"></ngx-avatar>
              </ng-template>
            </ion-avatar>

            <ion-col class="member--col" size="auto">
              <!-- <ion-row class="message--name">
                <ion-text class="message--name" color="medium">{{ m.profile.displayName }}</ion-text>
              </ion-row> -->

              <ion-card color="light" class="dialog member message--card">
                <ion-card-content>
                  <h2 text-wrap>{{ m.body }}</h2>
                </ion-card-content>
              </ion-card>

            </ion-col>
          </ion-row>

          <ng-template #elseUserMessage>
            <ion-row class="user--row" slot="end">
              <ion-col class="user--col">

                <!-- <ion-row>
                  <ion-text class="message--name" color="medium">{{ m.profile.displayName }}</ion-text>
                </ion-row> -->

                <ion-card *ngIf="m.profile" color="primary" class="dialog message--card message--user">
                  <ion-card-content>
                    <h2 text-wrap>{{ m.body }}</h2>
                  </ion-card-content>
                </ion-card>

              </ion-col>
              <ion-avatar class="dialog--user" *ngIf="m.profile && m.uid === (profile$ | async)?.uid && (group$ | async)?.messages[i+1] && m.profile !== (group$ | async)?.messages[i+1].profile || m.profile && m.uid === (profile$ | async)?.uid && !(group$ | async)?.messages[i+1] || m.profile && m.uid === (profile$ | async)?.uid && (group$ | async)?.messages[i+1] && (group$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 900000">
                <img *ngIf="m.profile.url; else elseTextAvatar" src="{{ m.profile.url }}">
                <ng-template #elseTextAvatar>
                  <ngx-avatar name="{{ m.profile.displayName }}" [size]="40"></ngx-avatar>
                </ng-template>
              </ion-avatar>
            </ion-row>
          </ng-template>
        </ion-item>
      </div>
      <ion-item class="message--list" lines="none"></ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-col size="12">
      <ion-row class="ion-align-items-center ion-padding-horizontal">
        <ion-textarea autoGrow="true" rows="1" class="message--input" placeholder="Message" [(ngModel)]="newBody"
          (keyup.enter)="sendMessage()" (keydown.enter)="onKeydown($event)" (ionFocus)="scrollOnFocus()">
        </ion-textarea>
        <ion-button class="message--button ion-padding-start" (click)="sendMessage()">
          <ion-icon [ios]="'send' + '-outline'" [md]="'send' + '-sharp'"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-toolbar>
</ion-footer>