ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  //margin-top: 2.5%;
  position: relative;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-text.message--name {
  font-size: 11px;
  font-weight: 600;
}

ion-text.message--time {
  font-size: 11px;
  font-weight: 500;
}

ion-col.right {
  justify-content: end
}

ion-row.right {
  justify-content: end
}

ion-col.message--header {
  text-align: center;
}

ion-col.message--row {
  text-align: center;
}

ion-list.message--list {
  background: transparent !important;
  --ion-background-color:transparent !important;
}

ion-item.message--list {
  --ion-background-color:transparent !important;
  --ion-item-background:transparent !important;
}
