<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!ios && !android"></ion-menu-button>
      <ion-back-button *ngIf="ios || android" [text]="ios ? 'Teams' : null" routerDirection="backwards"
        [defaultHref]="['/Teams']"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">{{ (team$ | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-list lines="none" class="theme-list">

      <ion-list-header>
        Group Messages
        <ion-button fill="clear" class="header-icon" color="dark">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
      </ion-list-header>

      <ion-card class="theme-card dashed-card" (click)="createGroupModal()" button>
        <ion-item class="theme-item thumbnail--list" lines="none">
          <ion-fab-button slot="start" class="inner-fab inner--fab--start">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
          <ion-label>
            <h2><strong>Create Group</strong></h2>
          </ion-label>
        </ion-item>
      </ion-card>

      <div *ngFor="let g of (groups$ | async); trackBy: trackFn; let i = index">
        <ion-card routerDirection="forward" (click)="goTo('Group', g.id)" button class="theme-card">
          <ion-item class="theme-item thumbnail--list" lines="none" detail="true">
            <ion-thumbnail slot="start">
              <ngx-avatar name="{{ g.name }}" [size]="55" [round]="false" [cornerRadius]="10"></ngx-avatar>
            </ion-thumbnail>
            <ion-label>
              <h2><strong>{{ g.name }}</strong></h2>
              <h3 *ngIf="g.lastMessage; else elseMessage">{{ g.lastMessage }}</h3>
              <ng-template #elseMessage>
                <h3>Start a new conversation</h3>
              </ng-template>
            </ion-label>
            <ion-tab-button *ngIf="g.unread && g.unread.unreadMessages > 0" slot="end" class="notification--button">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              <ion-badge color="danger">{{ g.unread.unreadMessages }}</ion-badge>
            </ion-tab-button>
          </ion-item>
        </ion-card>
      </div>

      <ion-list-header *ngIf="(members$ | async)?.length > 1">
        Direct Messages
        <ion-button fill="clear" class="header-icon" color="dark">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
      </ion-list-header>

      <div *ngFor="let m of (members$ | async); let i = index">
        <ion-card *ngIf="m.uid !== (profile$ | async)?.uid" routerDirection="forward" (click)="goTo('Direct', m.uid)"
          button class="theme-card">
          <ion-item class="theme-item thumbnail--list" lines="none" detail="true">
            <ion-thumbnail slot="start" class="avatar-thumbnail">
              <img *ngIf="m.url; else elseMemberAvatar" src="{{ m.url_150 ? m.url_150 : m.url }}">
              <ng-template #elseMemberAvatar>
                <ngx-avatar name="{{ m.displayName }}" [size]="55" [round]="false" [cornerRadius]="55">
                </ngx-avatar>
              </ng-template>
              <app-user-presence class="avatar-presence" [uid]="m.uid"></app-user-presence>
            </ion-thumbnail>
            <ion-label>
              <h2 class="ellipsis-text">
                <strong class="wrap-text">
                  {{ m.displayName }}
                </strong>
              </h2>
              <h3 *ngIf="m.direct && m.direct.lastMessage; else elseMessage">{{ m.direct.lastMessage }}</h3>
              <ng-template #elseMessage>
                <h3>Start a new conversation</h3>
              </ng-template>
            </ion-label>
            <ion-tab-button *ngIf="m.unread && m.unread.unreadMessages > 0" slot="end" class="notification--button">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              <ion-badge color="danger">{{ m.unread.unreadMessages }}</ion-badge>
            </ion-tab-button>
          </ion-item>
        </ion-card>
      </div>
      <ion-item lines="none" class="theme-item"></ion-item>

    </ion-list>

  </div>
</ion-content>