ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2.5%;
  position: relative;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-avatar.avatar--file {
  line-height: 40px !important;
  text-align: center !important;
}

.ios {
  ion-card.folder--outer--card {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ion-card.folder--inner--card {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.folder--div {
  width: 150;
  height: 105;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  background-color: #708090;
  border-radius: 0 6px 6px 6px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder--div:before {
  content: '';
  width: 50%;
  height: 12px;
  border-radius: 0px 20px 0 0;
  position: absolute;
  background-color: #708090;
  top: -12px;
  left: 0px;
}