ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2.5%;
  position: relative;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-avatar.avatar--file {
  line-height: 40px !important;
  text-align: center !important;
}

/// labels for fab
ion-fab-button[title] {
  position: relative;
}

ion-fab-button[title]::after {
  position: absolute;
  content: attr(title);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  padding: 9px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  color: rgba(var(--ion-text-color-rgb,0,0,0),0.54);
  background-color: #f4f5f8;
}