<div class="auth--div">
    <ion-card class="auth--card">
        <img class="auth--logo" [src]="!dark ? '../assets/img/otter_logo.png' : '../assets/img/otter_logo_dark.png'" width="115px">
        <ion-card-content>
            <h1>Verify your Email</h1>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col class="ion-justify-content-center" size="12">
                        <ion-icon class="large-icon" name="mail-unread-outline"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-justify-content-center" size="auto">
                        We sent you a verification email
                    </ion-col>
                    <ion-col class="ion-justify-content-center" size="auto">
                        Click the link in the email to complete
                    </ion-col>
                    <ion-col class="ion-justify-content-center" size="auto">
                        (If you don't see it, check spam)
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="error" *ngIf="error">
                You still need to verify your email.
            </div>
            <div class="auth--card__action">
                <ion-button expand="block" (click)="continue()">Continue</ion-button>
            </div>
            <div class="auth--card__toggle">
                <a [routerLink]="" (click)="resendVerification()">
                    No email?&nbsp;
                    <ion-text color="secondary">
                        <b>Resend</b>
                    </ion-text>
                </a>
                <a [routerLink]="" routerDirection="backward" (click)="onLogout()">
                    Need to come back later?&nbsp;
                    <ion-text color="secondary">
                        <b>Logout</b>
                    </ion-text>
                </a>
            </div>
        </ion-card-content>
    </ion-card>
    <a (click)="showPrivacy()" button>Privacy & Terms</a>
</div>