<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card class="dashboard--team half--margin--top half--margin--bottom">
            <!-- <ion-card-header> -->
            <ion-item lines="none" color="clear">
              <ion-thumbnail slot="start">
                <ngx-avatar name="{{ (team$ | async)?.child }}" [size]="55" [round]="false" [cornerRadius]="10">
                </ngx-avatar>
              </ion-thumbnail>
              <ion-label>
                <h1>{{ (team$ | async)?.name }}</h1>
              </ion-label>
            </ion-item>
            <!-- </ion-card-header> -->
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="secondary" class="dashboard--card half--margin--right half--margin--bottom half--margin--top"
            routerDirection="root" (click)="goTo('Events')" button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon slot="start" class="dashboard--icon white" name="calendar-outline"></ion-icon>
              </ion-item>
              <ion-item lines="none" class="theme--item">
                <ion-label>
                  <h2 class="white">
                    <strong>Events</strong>
                  </h2>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="tertiary" class="dashboard--card half--margin--left half--margin--bottom half--margin--top"
            routerDirection="root" (click)="goTo('Messages')" button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon slot="start" class="dashboard--icon white" name="chatbubbles-outline"></ion-icon>
                <ion-badge class="hover-badge white" *ngIf="(team$ | async)?.unreadMessages > 0">
                  {{ (team$ | async)?.unreadMessages }}</ion-badge>
              </ion-item>
              <ion-item lines="none" class="theme--item">
                <ion-label>
                  <h2 class="white">
                    <strong>Messages</strong>
                  </h2>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="warning" class="dashboard--card half--margin--right half--margin--top half--margin--bottom"
            routerDirection="root" (click)="goTo('Files')" button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon slot="start" class="dashboard--icon white" name="document-text-outline"></ion-icon>
                <ion-badge class="hover-badge white" *ngIf="(team$ | async)?.unreadFiles > 0">{{ (team$ | async)?.unreadFiles }}</ion-badge>
              </ion-item>
              <ion-item lines="none" class="theme--item">
                <ion-label>
                  <h2 class="white">
                    <strong>Files</strong>
                  </h2>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="danger" class="dashboard--card half--margin--left half--margin--top half--margin--bottom"
            routerDirection="root" (click)="goTo('Notes')" button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon slot="start" class="dashboard--icon white" name="newspaper-outline"></ion-icon>
                <ion-badge class="hover-badge white" *ngIf="(team$ | async)?.unreadNotes > 0">{{ (team$ | async)?.unreadNotes }}
                </ion-badge>
              </ion-item>
              <ion-item lines="none" class="theme--item">
                <ion-label>
                  <h2 class="white">
                    <strong>Notes</strong>
                  </h2>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card class="dashboard--card half--margin--top">
            <ion-card-header>
              <ion-list>
                <ion-item lines="none" routerDirection="root" (click)="goTo('Team')" button>
                  <ion-icon slot="start" class="dashboard--icon--extra" name="people-outline"></ion-icon>
                  <!-- <ion-icon slot="start" class="dashboard--icon" src="assets/custom-icons/people-outline.svg"></ion-icon> -->
                  <ion-label>
                    <h2><strong>Team</strong></h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" routerDirection="root" (click)="goTo('Child')" button>
                  <ion-icon slot="start" class="dashboard--icon--extra" name="happy-outline"></ion-icon>
                  <!-- <ion-icon slot="start" class="dashboard--icon" src="assets/custom-icons/happy-outline.svg"></ion-icon> -->
                  <ion-label>
                    <h2><strong>Child</strong></h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" routerDirection="root" (click)="goTo('Resources')" button>
                  <ion-icon slot="start" class="dashboard--icon--extra" name="link-outline"></ion-icon>
                  <!-- <ion-icon slot="start" class="dashboard--icon" src="assets/custom-icons/link-outline.svg"></ion-icon> -->
                  <ion-label>
                    <h2><strong>Resources</strong></h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>