<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card
            class="dashboard--team half--margin--top half--margin--bottom">
            <ion-card-header>
              <ion-item lines="none" color="clear">
                <ion-thumbnail slot="start">
                  <ngx-avatar name="{{ (team$ | async)?.child }}" [size]="55" [round]="false" [cornerRadius]="10"></ngx-avatar>
                </ion-thumbnail>
                <ion-label>
                  <h1>{{ (team$ | async)?.name }}</h1>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card 
            class="half--margin--right half--margin--bottom half--margin--top ion-activatable ion-focusable ripple-parent"
            routerDirection="root" 
            (click)="goTo('Events')"
            button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon class="color-icon" [ios]="'calendar' + '-outline'" [md]="'calendar' + '-sharp'"></ion-icon>
              </ion-item>
              <ion-item 
                lines="none" class="theme--item">
                <ion-label>
                  <h2>
                    <ion-text 
                      color="medium">
                      <strong>0</strong>
                    </ion-text>&nbsp;Today
                  </h2>
                  <h3>Events</h3>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card 
            class="dashboard--card half--margin--left half--margin--bottom half--margin--top"
            routerDirection="root" 
            (click)="goTo('Messages')"
            button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon [ios]="'chatbubbles' + '-outline'" [md]="'chatbubbles' + '-sharp'"></ion-icon>
              </ion-item>
              <ion-item 
                lines="none" class="theme--item">
                <ion-label>
                  <h2>
                    <ion-text
                      [color]="(team$ | async)?.unreadMessages > 1 ? 'danger' : 'medium'">
                      <strong>{{ (team$ | async)?.unreadMessages }}</strong>
                    </ion-text>&nbsp;New
                  </h2>
                  <h3>Messages</h3>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card 
            class="dashboard--card half--margin--right half--margin--top half--margin--bottom"
            routerDirection="root" 
            (click)="goTo('Files')"
            button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon [ios]="'document' + '-outline'" [md]="'document' + '-sharp'"></ion-icon>
              </ion-item>
              <ion-item 
                lines="none" class="theme--item">
                <ion-label>
                  <h2>
                    <ion-text 
                      [color]="(team$ | async)?.unreadFiles > 1 ? 'danger' : 'medium'">
                      <strong>{{ (team$ | async)?.unreadFiles }}</strong>
                    </ion-text>&nbsp;New
                  </h2>
                  <h3>Files</h3>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card 
            class="dashboard--card half--margin--left half--margin--top half--margin--bottom"
            routerDirection="root" 
            (click)="goTo('Notes')"
            button>
            <ion-card-header>
              <ion-item lines="none" class="theme--item">
                <ion-icon [ios]="'newspaper' + '-outline'" [md]="'newspaper' + '-sharp'"></ion-icon>
              </ion-item>
              <ion-item 
                lines="none" class="theme--item">
                <ion-label>
                  <h2>
                    <ion-text 
                      [color]="(team$ | async)?.unreadNotes > 1 ? 'danger' : 'medium'">
                      <strong>{{ (team$ | async)?.unreadNotes }}</strong>
                    </ion-text>&nbsp;New
                  </h2>
                  <h3>Notes</h3>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card 
            class="dashboard--card half--margin--top">
            <ion-card-header>
              <ion-list>
                <ion-item 
                  lines="none"
                  routerDirection="root" 
                  (click)="goTo('Team')"
                  button>
                  <ion-icon slot="start" [ios]="'people' + '-outline'" [md]="'people' + '-sharp'"></ion-icon>
                  <ion-label>
                    <h3>Team</h3>
                  </ion-label>
                </ion-item>
                <ion-item 
                  lines="none"
                  routerDirection="root" 
                  (click)="goTo('Child')"
                  button>
                  <ion-icon slot="start" [ios]="'happy' + '-outline'" [md]="'happy' + '-sharp'"></ion-icon>
                  <ion-label>
                    <h3>Child</h3>
                  </ion-label>
                </ion-item>
                <ion-item 
                  lines="none"
                  routerDirection="root" 
                  (click)="goTo('Resources')"
                  button>
                  <ion-icon slot="start" [ios]="'help-buoy' + '-outline'" [md]="'help-buoy' + '-sharp'"></ion-icon>
                  <ion-label>
                    <h3>Resources</h3>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
