<ion-header translucent>
    <ion-toolbar>
        <ion-title>Upload Picture</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list class="theme--list">

        <div class="ion-padding">
            <ion-button expand="block">
                <label class="fileBtn">
                    Browse
                    <input type="file" (change)="fileChangeEvent($event)" />
                </label>
            </ion-button>
        </div>

        <ion-item lines="none" class="theme--item">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <image-cropper
                        style="width: 50%"
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="1 / 1"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>
                </ion-row>
            </ion-grid>
        </ion-item>

        <div *ngIf="croppedImage">
            <ion-list inset="true" class="theme--list upload--list">
                <upload-task [teamId]="teamId" [folder]="null" [profilePicture]="true" [file]="croppedImage" [scan]="false"></upload-task>
            </ion-list>
        </div>

        <!-- <ion-item lines="none" class="theme--item">
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <img style="width: 50%" class="rounded" [src]="croppedImage" />
                </ion-row>
            </ion-grid>
        </ion-item> -->

    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-justify-content-between ion-padding">
            <ion-button fill="clear" color="danger" (click)="reset()">Reset</ion-button>
            <ion-button fill="clear" (click)="dismiss()">Close</ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>