<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">Child</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile--content">
  <ion-grid class="ion-no-padding">
    <ion-row class="profile--pic--header ion-justify-content-center ion-padding">
      <ion-col class="ion-justify-content-center ion-padding" size="auto">

        <ion-thumbnail class="avatar-thumbnail profile-thumbnail">
          <img *ngIf="(team$ | async)?.url; else elseChildAvatar" src="{{ (team$ | async)?.url }}">
          <ng-template #elseChildAvatar>
            <ngx-avatar name="{{ (team$ | async)?.child }}" [size]="150" [round]="false" [cornerRadius]="150">
            </ngx-avatar>
          </ng-template>
        </ion-thumbnail>

      </ion-col>
    </ion-row>
    <ion-row class="profile--info--row ion-align-items-stretch">
      <ion-col class="profile--info--col ion-align-self-stretch">
        <ion-card class="profile--info--card ion-no-margin ion-align-self-stretch">
          <ion-card-content>
            <ion-fab vertical="top" horizontal="center" slot="fixed" edge>
              <ion-fab-button size="small" (click)="profilePictureModal()">
                <ion-icon name="camera-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <div id="container">
              <ion-list>
                <ion-list-header>
                  Child Info
                </ion-list-header>
                <ion-item lines="none" *ngIf="team">
                  <ion-icon slot="start" name="happy-outline"></ion-icon>
                  <ion-label *ngIf="edit == false; else editName">
                    <h2 class="full-width" *ngIf="team.child"><strong>{{ team.child }}</strong></h2>
                  </ion-label>

                  <ng-template #editName>
                    <h2 class="full-width"><strong>
                        <ion-input class="form" [(ngModel)]="team.child" placeholder="Add the child first name">
                        </ion-input>
                      </strong></h2>
                  </ng-template>
                </ion-item>
                <ion-item lines="none" *ngIf="team">
                  <ion-icon slot="start" name="book-outline"></ion-icon>
                  <ion-label *ngIf="edit == false; else editBio" text-wrap>
                    <h2 class="full-width">{{ team.bio ? team.bio : 'Add a bio, or tell a short story' }}</h2>
                  </ion-label>

                  <ng-template #editBio>
                    <h2 class="full-width">
                      <ion-textarea col="12" class="form" [(ngModel)]="team.bio"
                        placeholder="Add a bio, or tell a short story">
                      </ion-textarea>
                    </h2>
                  </ng-template>
                </ion-item>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-justify-content-start">
      <div>
        <ion-button fill="clear" [disabled]="edit" (click)="edit = true">Edit</ion-button>
        <ion-button fill="clear" [disabled]="!edit" (click)="updateTeamInfo()">Save</ion-button>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-footer>