<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!ios && !android && !mobile"></ion-menu-button>
      <ion-back-button *ngIf="ios || android || mobile" [text]="ios ? 'Teams' : null" routerDirection="backwards"
        [defaultHref]="['/Teams']">
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">{{ (team$ | async)?.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="all">
      <ion-segment-button value="all">
        <ion-label>All Events</ion-label>
      </ion-segment-button>
      <ion-segment-button value="yours">
        <ion-label>Your Events</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="calendar--content">

  <div class="calendar-section">
    <ion-card class="calendar-container">
      <img class="calendar-img" [src]="(dark$ | async) ? '../../../assets/underwater_dark.svg' : '../../../assets/underwater.svg'">
      <ion-calendar cssClass="calendar" [(ngModel)]="date" (change)="dayChange($event)"
        (monthChange)="monthChange($event)" [options]="options" [type]="type" [format]="'YYYY-MM-DD'">
      </ion-calendar>
    </ion-card>
  </div>

  <div id="container">
    <ion-list lines="none" class="theme-list">
      <ion-list-header>{{ date }}</ion-list-header>
      <div *ngIf="(today$ | async) && (today$ | async).length; else noEvents">
        <ion-item *ngFor="let e of (today$ | async); let i = index" class="theme-item" (click)="editEventModal(e)"
          button>
          <ion-icon slot="start" color="primary" [name]="e.type === 'Reminder' ? 'alarm-outline' : 'calendar-outline'">
          </ion-icon>
          <ion-label text-wrap>
            <h2><strong>{{ e.name }}</strong></h2>
            <p>{{ e.startTime.toMillis() | date:"h:mm a" }} - {{ e.endTime.toMillis() | date:"h:mm a" }}</p>
          </ion-label>
        </ion-item>
      </div>
      <ng-template #noEvents>
        <ion-item lines="none" class="theme-item">
          <ion-label text-wrap>
            <h2><strong>No events {{ date == today ? 'today' : 'on '+date }}</strong></h2>
          </ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="createEventModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>