<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/Teams', (team$ | async)?.id, 'Messages']"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="(member$ | async)?.profile">{{ (member$ | async)?.profile.displayName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #contentArea [class.scroll-ios]="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="(member$ | async)?.profile">{{ (member$ | async)?.profile.displayName }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list class="theme--list">
      <ion-item class="theme--item" lines="none"></ion-item>

      <div *ngFor="let m of (member$ | async)?.messages; trackBy: trackFn; let last = last; let i = index">

        <ion-row class="ion-justify-content-center" *ngIf="(member$ | async)?.messages[i-1] && m.timestamp.toMillis() - (member$ | async)?.messages[i-1].timestamp.toMillis() > 1800000 || !(member$ | async)?.messages[i-1]">
          <ion-text *ngIf="time - m.timestamp.toMillis() > 86400000; else elseDate" class="message--time"
            color="medium">{{ m.timestamp.toMillis() | date : 'short' }}</ion-text>
          <ng-template #elseDate>
            <ion-text class="message--time" color="medium">Today,
              {{ m.timestamp.toMillis() | date : 'shortTime' }}</ion-text>
          </ng-template>
        </ion-row>

        <ion-item class="theme--item message--item" lines="none">
          <ion-row class="member--row" slot="start" *ngIf="m.uid !== (profile$ | async)?.uid; else elseUserMessage">
            <ion-avatar class="dialog--member" *ngIf="(member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || !(member$ | async)?.messages[i+1] || (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
              <img *ngIf="(member$ | async)?.profile.url; else elseTextAvatar"
                src="{{ (member$ | async)?.profile.url }}">
              <ng-template #elseTextAvatar>
                <ngx-avatar name="{{ (member$ | async)?.profile.displayName }}" [size]="40"></ngx-avatar>
              </ng-template>
            </ion-avatar>

            <ion-col class="member--col" size="auto">

              <ion-card color="light" class="dialog member message--card">
                <ion-card-content class="message--content">
                  <h2 text-wrap>{{ m.body }}</h2>
                </ion-card-content>
              </ion-card>

            </ion-col>
          </ion-row>

          <ng-template #elseUserMessage>
            <ion-row class="user--row" slot="end">
              <ion-col class="user--col">

                <ion-card *ngIf="m.profile" color="primary" class="dialog message--card message--user">
                  <ion-card-content class="message--content">
                    <h2 text-wrap>{{ m.body }}</h2>
                  </ion-card-content>
                </ion-card>

              </ion-col>
              <ion-avatar class="dialog--user" *ngIf="m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || m.uid === (profile$ | async)?.uid && !(member$ | async)?.messages[i+1] || m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
                <img *ngIf="(profile$ | async)?.url; else elseTextAvatar" src="{{ (profile$ | async)?.url }}">
                <ng-template #elseTextAvatar>
                  <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="40"></ngx-avatar>
                </ng-template>
              </ion-avatar>
            </ion-row>
          </ng-template>
        </ion-item>
      </div>

      <ion-item class="theme--item" lines="none"></ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-col size="12">
      <ion-row class="ion-align-items-center ion-padding-horizontal">
        <ion-textarea autoGrow="true" rows="1" class="message--input" placeholder="Message" [(ngModel)]="newBody"
          (keyup.enter)="sendMessage()" (keydown.enter)="onKeydown($event)" (ionFocus)="scrollOnFocus()">
        </ion-textarea>
        <ion-button class="message--button ion-padding-start" (click)="sendMessage()" fill="clear" [disabled]="!newBody.length">
          <ion-icon [name]="'send' + '-outline'"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-toolbar>
</ion-footer>