<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/Teams', (team$ | async)?.id, 'Messages']"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="member$ | async as member">
      {{ member.profile ? member.profile.displayName : '' }}
      <app-user-presence class="presence--dot--title" [uid]="member.uid"></app-user-presence>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #contentArea [class.scroll-ios]="ios">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="(member$ | async)?.profile">{{ (member$ | async)?.profile.displayName }}
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">

    <ion-list class="theme--list">
      <ion-item class="theme--item" lines="none"></ion-item>

      <div *ngFor="let m of (member$ | async)?.messages; trackBy: trackFn; let last = last; let i = index">

        <ion-row class="ion-justify-content-center ion-padding"
          *ngIf="(member$ | async)?.messages[i-1] && m.timestamp.toMillis() - (member$ | async)?.messages[i-1].timestamp.toMillis() > 1800000 || !(member$ | async)?.messages[i-1]">
          <ion-text *ngIf="time > m.timestamp.toMillis(); else elseDate" class="message--time"
            color="medium">{{ m.timestamp.toMillis() | date : 'short' }}</ion-text>
          <ng-template #elseDate>
            <ion-text class="message--time" color="medium">Today,
              {{ m.timestamp.toMillis() | date : 'shortTime' }}</ion-text>
          </ng-template>
        </ion-row>

        <ion-item class="theme--item message--item" lines="none"
          [class.changeUser]="(member$ | async)?.messages[i-1] && (member$ | async)?.messages[i-1].uid !== m.uid">
          <ion-row class="member--row" slot="start" *ngIf="m.uid !== (profile$ | async)?.uid; else elseUserMessage">
            <ion-avatar class="dialog--member"
              *ngIf="(member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || !(member$ | async)?.messages[i+1] || (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
              <img *ngIf="(member$ | async)?.profile.url; else elseTextAvatar"
                src="{{ (member$ | async)?.profile.url_150 ? (member$ | async)?.profile.url_150 : (member$ | async)?.profile.url }}">
              <ng-template #elseTextAvatar>
                <ngx-avatar name="{{ (member$ | async)?.profile.displayName }}" [size]="40"></ngx-avatar>
              </ng-template>
            </ion-avatar>

            <ion-col class="member--col" size="auto">

              <ion-button *ngIf="m.style && m.style !== 'message'; else elseMemberText" fill="clear" class="message--file"
                [class.message--file--height]="m.style === 'file'" [class.message--file--output]="m.style === 'file'" (click)="previewFile(m)">
                <img *ngIf="m.style === 'image'" class="message--image" [src]="m.body">
                <ion-label *ngIf="m.style === 'file'" class="message--file--label">
                  <ion-icon size="large" name="document-text-outline"></ion-icon>
                  <h3>{{ m.fileName }}</h3>
                </ion-label>
              </ion-button>

              <ng-template #elseMemberText>
                <ion-card color="light" class="dialog member message--card">
                  <ion-card-content class="message--content">
                    <h2 text-wrap style="white-space: pre-line;">{{ m.body }}</h2>
                  </ion-card-content>
                </ion-card>
              </ng-template>

            </ion-col>
          </ion-row>

          <ng-template #elseUserMessage>
            <ion-row class="user--row" slot="end">
              <ion-col class="user--col">

                <ion-button *ngIf="m.style && m.style !== 'message'; else elseUserText" fill="clear" class="message--file"
                  [class.message--file--height]="m.style === 'file'" [class.message--file--output]="m.style === 'file'" (click)="previewFile(m)">
                  <img *ngIf="m.style === 'image'" class="message--image" [src]="m.body">
                  <ion-label *ngIf="m.style === 'file'" class="message--file--label">
                    <ion-icon size="large" name="document-text-outline"></ion-icon>
                    <h3>{{ m.fileName }}</h3>
                  </ion-label>
                </ion-button>

                <ng-template #elseUserText>
                  <ion-card color="primary" class="dialog message--card message--user">
                    <ion-card-content class="message--content">
                      <h2 text-wrap style="white-space: pre-line;">{{ m.body }}</h2>
                    </ion-card-content>
                  </ion-card>
                </ng-template>

              </ion-col>
              <ion-avatar class="dialog--user"
                *ngIf="m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && m.uid !== (member$ | async)?.messages[i+1].uid || m.uid === (profile$ | async)?.uid && !(member$ | async)?.messages[i+1] || m.uid === (profile$ | async)?.uid && (member$ | async)?.messages[i+1] && (member$ | async)?.messages[i+1].timestamp.toMillis() - m.timestamp.toMillis() > 1800000">
                <img *ngIf="(profile$ | async)?.url; else elseTextAvatar"
                  src="{{ (profile$ | async)?.url_150 ? (profile$ | async)?.url_150 : (profile$ | async)?.url }}">
                <ng-template #elseTextAvatar>
                  <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="40"></ngx-avatar>
                </ng-template>
              </ion-avatar>
            </ion-row>
          </ng-template>
        </ion-item>
      </div>

      <ion-item class="theme--item" lines="none"></ion-item>
      <ion-item class="theme--item" lines="none"></ion-item>

    </ion-list>
  </div>
</ion-content>


<div>
  <ion-footer [translucent]="true">
    <ion-toolbar>
  
      <ion-grid>
        <ion-row *ngIf="newFiles.length" class="ion-align-items-center ion-padding-horizontal">
          <ion-button class="message--button ion-padding-end" fill="clear" color="tertiary" disabled>
            <ion-icon name=""></ion-icon>
          </ion-button>
          <ion-col class="message--files">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" size="12" size-md="6" *ngFor="let file of newFiles">
  
                  <app-message-file #childFile [teamId]="teamId" [directId]="directId" [file]="file"
                    (remove)="removeFile(file)"></app-message-file>
  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-button class="message--button ion-padding-start" fill="clear" color="tertiary" disabled>
            <ion-icon name=""></ion-icon>
          </ion-button>
        </ion-row>
  
        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-button class="message--button ion-padding-end" fill="clear" color="tertiary">
            <ion-icon name="attach-outline"></ion-icon>
            <label class="file-button">
              <input type="file" (change)="fileChangeEvent($event)" />
            </label>
          </ion-button>
          <ion-col>
            <ion-textarea autoGrow="true" rows="1" class="message--input" placeholder="Message" [(ngModel)]="newBody"
              (keyup.enter)="checkSendMessage()" (keydown.enter)="onKeydown($event)" (ionFocus)="scrollOnFocus()"
              autocapitalize="sentences" (paste)="onPaste($event)">
            </ion-textarea>
          </ion-col>
          <ion-button class="message--button ion-padding-start" (click)="sendMessage()" fill="clear"
            [disabled]="!newBody.length && !newFiles.length">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
  
    </ion-toolbar>
  </ion-footer>
</div>