<ion-header translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>New Scan</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div id="container">

        <ion-grid fixed class="ion-margin-top">
            <ion-row>

                <ion-col size="12">
                    <img [src]="'../../../../assets/img/otter_' + random + '.svg'">
                </ion-col>

                <ion-col size="12" *ngIf="error">
                    <div class="error" *ngIf="error">
                        {{ error }}
                    </div>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-button (click)="newScan()" expand="block">Add Scan</ion-button>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-note>Make scans on high-contrast surfaces for best results</ion-note>
                </ion-col>

                <div *ngIf="image" hidden>
                    <web-photo-filter [src]="image" filter="brightness" level="2.0" (filterLoad)="imageLoaded($event)">
                    </web-photo-filter>
                </div>

                <div *ngIf="brightness" hidden>
                    <web-photo-filter [src]="brightness" filter="contrast" level="1.0"
                        (filterLoad)="brightnessLoaded($event)">
                    </web-photo-filter>
                </div>

                <ion-col size="12">
                    <strong>Manage uploads</strong>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-note>Add any additional pages to your scans and upload them to
                        {{ !folder.uid ? 'the ' + folder.name + ' group folder' : folder.uid !== uid ? 'your direct folder with ' + folder.displayName : 'your private folder' }}
                    </ion-note>
                </ion-col>

                <ion-col size="12" *ngIf="!scans || !scans.length">
                    <ion-note>(Scan something first)</ion-note>
                </ion-col>

                <ion-col size="12" *ngIf="scans.length" lines="none">
                    <ion-note>(Tap thumbnail images to preview)</ion-note>
                </ion-col>

                <ion-col size="12" *ngFor="let s of scans; let i = index">
                    <app-upload-task *ngIf="s" [teamId]="teamId" [folder]="folder" [file]="s.file" [scan]="s"
                        (remove)="removeScan(s)" (addPage)="newPage(s)"></app-upload-task>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

    <ion-item class="theme--item" lines="none"></ion-item>
    <ion-item class="theme--item" lines="none"></ion-item>

</ion-content>