<ion-header translucent>
    <ion-toolbar>
        <ion-title>Preview Scan</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card class="photo">
        <img *ngIf="photo" [src]="photo">
    </ion-card>
    <ion-row class="ion-justify-content-center">
        <ion-button size="large" (click)="upload()">Upload</ion-button>
        <ion-button size="large" (click)="retake()">Retake</ion-button>
    </ion-row>
</ion-content>