<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!ios && !android"></ion-menu-button>
      <ion-back-button *ngIf="ios || android" [text]="ios ? 'Teams' : null" routerDirection="backwards" [defaultHref]="['/Teams']"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editProfileModal(false)">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile--content">
  <ion-grid class="ion-no-padding">
    <ion-row class="profile--pic--header ion-justify-content-center ion-padding">
      <ion-col class="ion-justify-content-center ion-padding" size="auto">
        <ion-thumbnail class="avatar-thumbnail profile-thumbnail" *ngIf="(profile$ | async)">
          <img *ngIf="(profile$ | async)?.url; else elseMemberAvatar" src="{{ (profile$ | async)?.url }}">
          <ng-template #elseMemberAvatar>
            <ngx-avatar *ngIf="(profile$ | async)?.displayName; else elseEmailAvatar"
              name="{{ (profile$ | async)?.email }}" [size]="150" [round]="false" [cornerRadius]="150">
            </ngx-avatar>
            <ng-template #elseEmailAvatar>
              <ngx-avatar name="{{ (profile$ | async)?.email }}" [size]="150" [round]="false" [cornerRadius]="150">
              </ngx-avatar>
            </ng-template>
          </ng-template>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row class="profile--info--row ion-align-items-stretch">
      <ion-col class="profile--info--col ion-align-self-stretch">
        <ion-card class="profile--info--card ion-no-margin ion-align-self-stretch">
          <ion-card-content>
            <ion-fab vertical="top" horizontal="center" slot="fixed" edge>
              <ion-fab-button size="small" (click)="profilePictureModal()">
                <ion-icon name="camera-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <div id="container">
              <ion-list>
                <ion-list-header>
                  Your Info
                </ion-list-header>
                <ion-item lines="none" *ngIf="(profile$ | async)">
                  <ion-icon slot="start" name="person-outline"></ion-icon>
                  <h2 class="full-width"><strong>
                      <ion-input class="form" [value]="(profile$ | async)?.displayName" placeholder="Add a display name" (ionFocus)="onFocus($event)" readonly>
                      </ion-input>
                    </strong></h2>
                </ion-item>
                <ion-item lines="none" *ngIf="(profile$ | async)">
                  <ion-icon slot="start" name="mail-outline"></ion-icon>
                  <h2 class="full-width">
                    <ion-input class="form" [value]="(profile$ | async)?.email" (ionFocus)="onFocus($event)" readonly>
                    </ion-input>
                  </h2>
                </ion-item>
                <ion-item lines="none" *ngIf="(profile$ | async)">
                  <ion-icon slot="start" name="people-outline"></ion-icon>
                  <h2 class="full-width">
                    <ion-input class="form" [value]="(profile$ | async)?.role" (ionFocus)="onFocus($event)" readonly>
                    </ion-input>
                    <!-- <ion-select placeholder="Select your team role" class="form"
                      [selectedText]="(profile$ | async)?.role" (ionFocus)="onFocus($event)" interface="popover" readonly>
                      <ion-select-option [value]="role.name" *ngFor="let role of roleList">
                        {{ role.name }}
                      </ion-select-option>
                    </ion-select> -->
                  </h2>
                </ion-item>
                <!-- <ion-item lines="none" *ngIf="(profile$ | async)">
                  <ion-icon slot="start" name="logo-google"></ion-icon>
                  <ion-label>
                    <h2 class="full-width">
                      Sync your events to Google Calendar
                    </h2>
                  </ion-label>
                  <ion-button slot="end" fill="clear" (click)="showGcalHint()">
                    <ion-icon slot="icon-only" name="help-circle-outline" color="medium"></ion-icon>
                  </ion-button>
                  <ion-toggle slot="end" [(ngModel)]="profile.gcalSync" (ionChange)="onToggle($event)"></ion-toggle>
                </ion-item> -->
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>