<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!(user$ | async)?.authenticated" color="tertiary">
      <ion-content>
        <ion-list id="inbox-list" lines="none">
          <ion-list-header class="top" *ngIf="(team$ | async); else elseHeader">{{ (team$ | async)?.name }}</ion-list-header>
          <ng-template #elseHeader>
            <ion-list-header class="top">Select Team</ion-list-header>
          </ng-template>

          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <ion-button color="light" slot="start" routerDirection="backward" [routerLink]="'/Teams'" size="default">
                Your Teams
              </ion-button>

              <ion-thumbnail slot="end" class="avatar-thumbnail">
                <img *ngIf="(profile$ | async)?.url; else elseAvatar" src="{{ (profile$ | async)?.url }}">
                <ng-template #elseAvatar>
                  <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="55" [round]="false" [cornerRadius]="55"></ngx-avatar>
                </ng-template>
              </ion-thumbnail>

            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Team
          </ion-list-header>
          <div *ngIf="(team$ | async); else elseItem">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf="p.title !== 'Profile'" (click)="selectedIndex = i" routerDirection="root"
                [routerLink]="['/Teams', teamId, p.title]" detail="false"
                [class.selected]="p.title == page">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                <ion-badge
                  color="light"
                  slot="end" 
                  *ngIf="p.title == 'Events'">
                  1
                </ion-badge>
                <ion-badge
                  color="light"
                  slot="end" 
                  *ngIf="p.title == 'Messages' && (team$ | async)?.unreadMessages > 0">
                  {{ (team$ | async)?.unreadMessages }}
                </ion-badge>
                <ion-badge
                  color="light" 
                  slot="end"
                  *ngIf="p.title == 'Files' && (team$ | async)?.unreadFiles > 0">
                  {{ (team$ | async)?.unreadFiles }}
                </ion-badge>
                <ion-badge
                  color="light"
                  slot="end" 
                  *ngIf="p.title == 'Notes' && (team$ | async)?.unreadNotes > 0">
                  {{ (team$ | async)?.unreadNotes }}
                </ion-badge>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <ng-template #elseItem>
            <ion-item detail="false">
              <ion-row class="member--row" slot="start">
                <ion-avatar class="dialog--member">
                  <img src="../assets/img/otter_head.svg">
                </ion-avatar>
                <ion-col class="member--col" size="auto">
                  <ion-row></ion-row>
                  <ion-card color="light" class="dialog message--card message--member">
                    <ion-card-content>
                      <ion-label text-wrap>Your options will appear here when you select a team!</ion-label>
                    </ion-card-content>
                  </ion-card>
                  <ion-row></ion-row>
                </ion-col>
              </ion-row>
            </ion-item>
          </ng-template>
        </ion-list>

        <ion-list-header>
          Settings
        </ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item lines="none" *ngIf="p.title == 'Profile'" (click)="selectedIndex = i" routerDirection="root"
            [routerLink]="['/Teams', teamId, p.title]" detail="false" [class.selected]="p.title == page">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" (click)="onLogout()" detail="false" button>
            <ion-icon slot="start" name="power"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item lines="none">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle [checked]="dark" (ionChange)="change()"></ion-toggle>
        </ion-item>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>