<ion-app>
  <div *ngIf="!ios && !android">
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay" [disabled]="!menu" color="tertiary" [class]="!dark ? 'light' : 'dark'">
        <ion-content>
          <ion-list id="inbox-list" lines="none">
            <ion-list-header class="top menu--header" *ngIf="(team$ | async); else elseHeader">
              {{ (team$ | async)?.name }}
            </ion-list-header>
            <ng-template #elseHeader>
              <ion-list-header class="top menu--header">Select Team</ion-list-header>
            </ng-template>

            <ion-menu-toggle auto-hide="false">
              <ion-item>
                <ion-button [color]="!dark ? 'light' : 'primary'" routerDirection="backward" [routerLink]="'/Teams'" size="default">
                  Your Teams
                </ion-button>

                <ion-thumbnail slot="end" class="avatar-thumbnail">
                  <img *ngIf="(profile$ | async)?.url_150; else elseAvatar" src="{{ (profile$ | async)?.url_150 }}">
                  <!-- <img *ngIf="(profile$ | async)?.url; else elseAvatar" src="{{ (profile$ | async)?.url_150 ? (profile$ | async)?.url_150 : (profile$ | async)?.url }}"> -->
                  <ng-template #elseAvatar>
                    <ngx-avatar *ngIf="(profile$ | async)?.displayName; else elseEmailAvatar"
                      name="{{ (profile$ | async)?.displayName }}" [size]="55" [round]="false" [cornerRadius]="55">
                    </ngx-avatar>
                    <ng-template #elseEmailAvatar>
                      <ngx-avatar name="{{ (profile$ | async)?.email }}" [size]="55" [round]="false"
                        [cornerRadius]="55">
                      </ngx-avatar>
                    </ng-template>
                  </ng-template>
                </ion-thumbnail>

              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list lines="none" *ngIf="(team$ | async)">
            <ion-list-header>
              Team
            </ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of teamPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="['/Teams', teamId, p.title]" detail="false"
                [class.selected]="p.title === page">
                <ion-icon slot="start" [name]="p.title === page ? p.icon : p.icon + '-outline'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                <ion-badge color="light" slot="end" *ngIf="p.title == 'Events'">
                </ion-badge>
                <ion-badge color="light" slot="end"
                  *ngIf="p.title == 'Messages' && (team$ | async)?.unreadMessages > 0">
                  {{ (team$ | async)?.unreadMessages }}
                </ion-badge>
                <ion-badge color="light" slot="end" *ngIf="p.title == 'Files' && (team$ | async)?.unreadFiles > 0">
                  {{ (team$ | async)?.unreadFiles }}
                </ion-badge>
                <ion-badge color="light" slot="end" *ngIf="p.title == 'Notes' && (team$ | async)?.unreadNotes > 0">
                  {{ (team$ | async)?.unreadNotes }}
                </ion-badge>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list-header>
            Settings
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">

            <ion-item lines="none" routerDirection="root" [routerLink]="['/Profile']" detail="false"
              [class.selected]="root === 'Profile'">
              <ion-icon slot="start" [name]="'Profile' === root ? 'person' : 'person-outline'"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>

          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="onLogout()" detail="false" button>
              <ion-icon slot="start" name="power-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">

            <ion-item lines="none" (click)="showPrivacy()" detail="false" button>
              <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
              <ion-label>Privacy</ion-label>
            </ion-item>

          </ion-menu-toggle>

          <ion-item lines="none">
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle [checked]="(dark$ | async)" (ionChange)="change()"></ion-toggle>
          </ion-item>

        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </div>

  <div *ngIf="ios || android" [class]="!dark ? 'light' : 'dark'">
    <ion-tabs [class]="!dark ? 'light' : 'dark'">
      <ion-tab-bar slot="bottom" *ngIf="(team$ | async) && page && !child" [class]="!dark ? 'light' : 'dark'">
        <ion-tab-button routerDirection="root" [routerLink]="['/Teams', teamId, p.title]"
          [class.selected]="p.title === page" *ngFor="let p of teamPages" [class]="!dark ? 'light' : 'dark'">
          <ion-icon [name]="p.title === page ? p.icon : p.icon + '-outline'" [class]="!dark ? 'light' : 'dark'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
          <ion-badge *ngIf="p.title == 'Messages' && (team$ | async)?.unreadMessages > 0">
            {{ (team$ | async)?.unreadMessages }}
          </ion-badge>
          <ion-badge *ngIf="p.title == 'Files' && (team$ | async)?.unreadFiles > 0">
            {{ (team$ | async)?.unreadFiles }}
          </ion-badge>
          <ion-badge *ngIf="p.title == 'Notes' && (team$ | async)?.unreadNotes > 0">
            {{ (team$ | async)?.unreadNotes }}
          </ion-badge>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>

</ion-app>