<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-select placeholder="Sort" interface="popover">
          <ion-select-option value="recent">Recent</ion-select-option>
          <ion-select-option value="flagged">Flagged</ion-select-option>
          <ion-select-option value="activity">Activity</ion-select-option>
        </ion-select>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="(team$ | async)">Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list lines="none" class="notes--list">

      <ion-card class="dialog member">

        <ion-card-content>
          <ion-item class="theme--item">
            <ion-label>
              <h2><strong>Share Something New</strong></h2>
            </ion-label>
          </ion-item>
          <ion-item class="notes--list" lines="none">
            <ion-avatar slot="start" class="dialog--member">
              <img *ngIf="(profile$ | async)?.url; else elseMemberAvatar" src="{{ (profile$ | async)?.url }}">
              <ng-template #elseMemberAvatar>
                <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="40"></ngx-avatar>
              </ng-template>
            </ion-avatar>
            <ion-textarea autoGrow="true" rows="1" class="note--input" placeholder="Note" [(ngModel)]="newNote"
              (keyup.enter)="postNote()" (keydown.enter)="onKeydown($event)">
            </ion-textarea>
            <ion-button fill="clear" (click)="postNote()" slot="end">
              <ion-icon slot="icon-only" name="'send' + '-outline'"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <div *ngFor="let n of (notes$ | async); let i = index">
        <ion-card class="dialog member">
          <ion-card-content>
            <ion-item lines="none" class="notes--list">
              <ion-avatar slot="start">
                <img *ngIf="n.profile && n.profile.url; else elseMemberAvatar" src="{{ n.profile.url }}">
                <ng-template #elseMemberAvatar>
                  <ngx-avatar *ngIf="n.profile" name="{{ n.profile.displayName }}" [size]="40"></ngx-avatar>
                </ng-template>
              </ion-avatar>
              <ion-label *ngIf="n.profile">
                <h2 class="notes--name"><strong>{{ n.profile.displayName }}</strong></h2>
                <ion-text>
                  <p *ngIf="time - n.timestamp.toMillis() > 86400000; else elseDate">
                    {{ n.timestamp.toMillis() | date : 'short' }}</p>
                  <ng-template #elseDate>
                    <p class="notes--time">Today, {{ n.timestamp.toMillis() | date : 'shortTime' }}</p>
                  </ng-template>
                </ion-text>
              </ion-label>
              <!-- <ion-badge color="danger" *ngIf="g.unread && g.unread.unreadFiles > 0">
                {{ g.unread.unreadFiles }}
              </ion-badge> -->
            </ion-item>
            <ion-item>
              <h1>{{ n.body }}</h1>
            </ion-item>
            <ion-item>
              <ion-col size="6">
                <ion-row class="ion-justify-content-center">
                  <ion-button fill="clear" (click)="flagNote(n)">
                    <ion-icon [color]="!n.flag ? 'medium' : 'warning'" name="'flag' + '-outline'"></ion-icon>
                    <ion-text [color]="!n.flag ? 'medium' : 'warning'" class="ion-padding-start">
                      Flag
                    </ion-text>
                  </ion-button>
                </ion-row>
              </ion-col>
              <ion-col size="6" class="ion-justify-content-center">
                <ion-row class="ion-justify-content-center">
                  <ion-button fill="clear" (click)="showNote(n)">
                    <ion-icon 
                      [color]="!n.show ? 'medium' : 'primary'" 
                      name="'chatbox' + '-outline'">
                    </ion-icon>
                    <ion-text [color]="!n.show ? 'medium' : 'primary'" class="ion-padding-start">
                      Comments
                    </ion-text>
                    <ion-badge [color]="!n.show ? 'medium' : 'primary'" *ngIf="n.commentCount > 0" class="ion-margin-start">
                      {{ n.commentCount }}
                    </ion-badge>
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-item>
            <div *ngIf="n.show" lines="none">
              <div *ngIf="n.comments.length" lines="none">
                <ion-item lines="none" *ngFor="let c of n.comments; let i = index" class="notes--list">
                  <ion-avatar slot="start" class="dialog--notes">
                    <img *ngIf="c.profile && c.profile.url; else elseMemberAvatar" src="{{ c.profile.url }}">
                    <ng-template #elseMemberAvatar>
                      <ngx-avatar name="{{ c.profile.displayName }}" [size]="40"></ngx-avatar>
                    </ng-template>
                  </ion-avatar>
                  <ion-label class="note--label" text-wrap>
                    <h2><strong>{{ c.profile.displayName }}</strong>&nbsp;{{ c.body }}</h2>
                    <p *ngIf="time - c.timestamp.toMillis() > 86400000; else elseDate">
                      {{ c.timestamp.toMillis() | date : 'short' }}</p>
                    <ng-template #elseDate>
                      <p class="notes--time">Today, {{ c.timestamp.toMillis() | date : 'shortTime' }}</p>
                    </ng-template>
                  </ion-label>
                </ion-item>
              </div>
              <ion-item lines="none" class="notes--list">
                <ion-avatar slot="start" class="dialog--member">
                  <img *ngIf="(profile$ | async)?.url; else elseMemberAvatar" src="{{ (profile$ | async)?.url }}">
                  <ng-template #elseMemberAvatar>
                    <ngx-avatar name="{{ (profile$ | async)?.displayName }}" [size]="40"></ngx-avatar>
                  </ng-template>
                </ion-avatar>
                <ion-textarea autoGrow="true" rows="1" class="note--input" placeholder="Comment"
                  [(ngModel)]="n.newComment" (keyup.enter)="postComment(n)" (keydown.enter)="onKeydown($event)">
                </ion-textarea>
                <ion-button fill="clear" (click)="postComment(n)" slot="end">
                  <ion-icon slot="icon-only" name="'send' + '-outline'"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-item lines="none" class="theme--item"></ion-item>
    </ion-list>
  </div>
</ion-content>