ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2.5%;
  position: relative;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-list.notes--list {
  background: transparent !important;
  --ion-background-color:transparent !important;
}

ion-item.notes--list {
  --ion-background-color:transparent !important;
  --ion-item-background:transparent !important;
}

ion-avatar.dialog {
  top: 0;
  position: absolute;
}

ion-label.note--label {
  margin-inline-start: 55px !important;
}

ion-col.note--input {
  margin-inline-start: 32.5px !important;
}

ion-textarea.note--input {
  margin-inline-start: 55px !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 1px solid var(--ion-color-medium);
  margin-top: 4px;
  margin-bottom: 4px;
}

// ion-button.note--button {
//   --padding-start: 0.6em;
//   --padding-end: 0.6em;
// }

ion-button.comment--button {
  --padding-start: 0.6em;
  --padding-end: 0.6em;
}

ion-text.notes--time {
  font-size: 11px;
  font-weight: 500;
}

.notes--name {
  font-weight: 500;
}
// ion-card.dialog {
//   //box-shadow: none !important;
//   margin-inline-start: 45px !important;
//   //margin-inline-start: 0 !important;
// }