<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="(team$ | async)">Files</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-list lines="none" class="notes--list">

      <!-- <ion-list-header>
            Notes
          </ion-list-header> -->

      <div *ngFor="let n of (notes$ | async); let i = index">
        <ion-card class="dialog member">
          <ion-card-content>
            <ion-item class="notes--list" (click)="showNote(n)" button
              detail="true" [detailIcon]="!n.show ? 'chevron-down' : 'chevron-up'">
              <ion-avatar slot="start" class="dialog">
                <img *ngIf="n.profile.url; else elseMemberAvatar" src="{{ n.profile.url }}">
                <ng-template #elseMemberAvatar>
                  <ngx-avatar name="{{ n.profile.displayName }}" [size]="40"></ngx-avatar>
                </ng-template>
              </ion-avatar>
              <ion-label class="note--label">
                <ion-row>
                  <h2 class="notes--name">{{ n.profile.displayName }}</h2>
                  <ion-text>
                    <p *ngIf="time - n.timestamp.toMillis() > 86400000; else elseDate">{{ n.timestamp.toMillis() | date : 'short' }}</p>
                    <ng-template #elseDate>
                      <p class="notes--time">Today, {{ n.timestamp.toMillis() | date : 'shortTime' }}</p>
                    </ng-template>   
                  </ion-text>
                </ion-row>  
                <h3>{{ n.body }}</h3>
              </ion-label>
              <!-- <ion-badge color="danger" *ngIf="g.unread && g.unread.unreadFiles > 0">
                {{ g.unread.unreadFiles }}
              </ion-badge> -->
            </ion-item>
            <div *ngIf="n.show">
              <ion-list inset="true" class="notes--list">
                <div *ngIf="n.comments.length; else elseComment">
                  <ion-item *ngFor="let c of n.comments; let i = index" class="notes--list">
                    <ion-avatar slot="start" class="dialog">
                      <img *ngIf="n.profile.url; else elseMemberAvatar" src="{{ n.profile.url }}">
                      <ng-template #elseMemberAvatar>
                        <ngx-avatar name="{{ n.profile.displayName }}" [size]="40"></ngx-avatar>
                      </ng-template>
                    </ion-avatar>
                    <ion-label class="note--label">
                      <ion-row>
                        <h2 class="notes--name">{{ c.profile.displayName }}</h2>
                        <ion-text>
                          <p *ngIf="time - c.timestamp.toMillis() > 86400000; else elseDate">{{ c.timestamp.toMillis() | date : 'short' }}</p>
                          <ng-template #elseDate>
                            <p class="notes--time">Today, {{ c.timestamp.toMillis() | date : 'shortTime' }}</p>
                          </ng-template>   
                        </ion-text>
                      </ion-row>                   
                      <h3>{{ c.body }}</h3>
                    </ion-label>
                    <!-- <ion-button fill="clear" (click)="removeGroupFile(g.id,f.id,f.url)">
                      <ion-icon color="danger" slot="icon-only" [ios]="'trash' + '-outline'" [md]="'trash' + '-sharp'">
                      </ion-icon>
                    </ion-button>
                    <ion-button fill="clear" (click)="previewFile(f)">
                      <ion-icon slot="icon-only" [ios]="'download' + '-outline'" [md]="'download' + '-sharp'"></ion-icon>
                    </ion-button> -->
                  </ion-item>
                </div>
                <ng-template #elseComment>
                  <ion-item class="notes--list">
                    <ion-avatar class="avatar--file" slot="start">
                      <ion-icon [ios]="'sad' + '-outline'" [md]="'sad' + '-sharp'"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                      <h2>No comments yet</h2>
                      <h3>Post the first!</h3>
                    </ion-label>
                  </ion-item>
                </ng-template>
                <ion-item>
                  <ion-col size="12">
                    <ion-row class="ion-align-items-center ion-padding-horizontal">
                      <ion-textarea 
                        autoGrow="true" 
                        rows="1" 
                        class="comment--input" 
                        placeholder="Type a comment..." 
                        [(ngModel)]="n.newComment"
                        (keyup.enter)="postComment(n)">
                      </ion-textarea>
                      <ion-button class="comment--button ion-padding-start" (click)="postComment(n)">
                        <ion-icon [ios]="'send' + '-outline'" [md]="'send' + '-sharp'"></ion-icon>
                      </ion-button>
                    </ion-row>
                  </ion-col>
                </ion-item>
                <!-- <ion-item>
                    <ion-col size="12">
                      <ion-row class="ion-align-items-center">
                        <ion-textarea 
                          autoGrow="true" 
                          rows="1" 
                          class="comment--input" 
                          placeholder="Type a comment..." 
                          [(ngModel)]="n.newComment"
                          (keyup.enter)="postComment(n)">
                        </ion-textarea>
                        <ion-button class="comment--button" (click)="postComment(n)">
                          <ion-icon [ios]="'send' + '-outline'" [md]="'send' + '-sharp'"></ion-icon>
                        </ion-button>
                      </ion-row>
                    </ion-col>
                </ion-item> -->
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>

    <ion-item lines="none" class="notes--list"></ion-item>

  </div>
</ion-content>