ion-avatar.avatar--file {
    line-height: 40px !important;
    text-align: center !important;
}

#container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}