<ion-header translucent>
    <ion-toolbar>
        <ion-title>Upload Files</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!-- <ion-progress-bar [value]="(uploadPercent | async)"></ion-progress-bar> -->
</ion-header>
<ion-content fullscreen>
    <ion-fab *ngIf="folder" horizontal="center" vertical="bottom" slot="fixed" class="ion-margin-bottom fileupload--fab">
        <ion-button (click)="index === 0 ? nextSlide() : prevSlide()" [disabled]="!folder">
            <ion-icon *ngIf="index === 1" name="arrow-back-outline"></ion-icon>
            {{ index === 0 ? 'Choose files' : 'Choose folder' }}
            <ion-icon *ngIf="index === 0" name="arrow-forward-outline"></ion-icon>
        </ion-button>
    </ion-fab>
    <ion-slides class="fileupload--slides" pager="true" (ionSlideDidChange)="getSlideIndex()" #slider>
        <ion-slide>
            <ion-list class="theme--list ion-padding" lines="none">
                <ion-list-header>
                    Choose Folder
                </ion-list-header>
        
                <ion-radio-group allow-empty-selection [(ngModel)]="folder" (ionChange)="folderChange()">
                    <div *ngIf="sourceId === 'files'">
                        <div *ngFor="let g of (groups$ | async); let i = index">
                            <ion-item lines="none" detail="false" class="theme--item">
                                <ion-avatar slot="start">
                                    <ngx-avatar name="{{ g.name }}" [size]="40"></ngx-avatar>
                                </ion-avatar>
                                <ion-label>
                                    <h2>{{ g.name }}</h2>
                                    <h3>{{ g.members.length > 1 ? g.members.length + ' Members' : g.members.length + ' Member' }}
                                    </h3>
                                </ion-label>
                                <ion-radio slot="end" color="primary" [value]="g"></ion-radio>
                                <!-- <ion-checkbox slot="end" [(ngModel)]="g.isChecked"></ion-checkbox> -->
                            </ion-item>
                        </div>
                    </div>
        
                    <div *ngFor="let m of (members$ | async); let i = index">
                        <ion-item lines="none" detail="false" *ngIf="sourceId === 'files' && m.profile && m.uid !== (profile$ | async)?.uid || sourceId === m.uid" class="theme--item">
                            <ion-avatar slot="start">
                                <img *ngIf="m.profile.url; else elseMemberAvatar" src="{{ m.profile.url }}">
                                <ng-template #elseMemberAvatar>
                                    <ngx-avatar name="{{ m.profile.displayName }}" [size]="40"></ngx-avatar>
                                </ng-template>
                            </ion-avatar>
                            <ion-label>
                                <h2>{{ m.profile.displayName }}</h2>
                                <h3>2 Members</h3>
                            </ion-label>
                            <ion-radio slot="end" color="primary" [value]="m" [disabled]="sourceId !== 'files'"></ion-radio>
                            <!-- <ion-checkbox slot="end" [(ngModel)]="m.isChecked"></ion-checkbox> -->
                        </ion-item>
                    </div>
                    <div *ngFor="let m of (members$ | async); let i = index">
                        <ion-item lines="none" detail="false" *ngIf="sourceId === 'files' && m.profile && m.uid === (profile$ | async)?.uid" class="theme--item">
                            <ion-avatar slot="start">
                                <img *ngIf="m.profile.url; else elseMemberAvatar" src="{{ m.profile.url }}">
                                <ng-template #elseMemberAvatar>
                                    <ngx-avatar name="{{ m.profile.displayName }}" [size]="40"></ngx-avatar>
                                </ng-template>
                            </ion-avatar>
                            <ion-label>
                                <h2>{{ m.profile.displayName }}</h2>
                                <h3>1 Member</h3>
                            </ion-label>
                            <ion-radio slot="end" color="primary" [value]="m"></ion-radio>
                            <!-- <ion-checkbox slot="end" [(ngModel)]="m.isChecked"></ion-checkbox> -->
                        </ion-item>
                    </div>
        
                </ion-radio-group>

                <ion-item class="theme--item" lines="none"></ion-item>
                <ion-item class="theme--item" lines="none"></ion-item>
    
            </ion-list>
        </ion-slide>
        
        <ion-slide>
            <ion-list class="theme--list ion-padding">
    
                <ion-list-header>
                    Choose Files
                </ion-list-header>
        
                <ion-item lines="none" class="theme--item">
                    <ngx-file-drop style="width: 100%" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            <ion-row class="ion-justify-content-center"><ion-col><strong>Drop or browse files</strong></ion-col></ion-row>
                            <ion-row class="ion-justify-content-center"><ion-col><ion-button type="button" (click)="openFileSelector()">Browse</ion-button></ion-col></ion-row>
                        </ng-template>
                    </ngx-file-drop>
                </ion-item>
        
                <div *ngIf="files.length">
                    <ion-list-header>
                        Uploads
                    </ion-list-header>
                    <ion-list inset="true" class="theme--list upload--list">
                        <div *ngFor="let f of files; let i = index">
                            <upload-task *ngIf="f" [teamId]="teamId" [folder]="folder" [file]="f" [scan]="false"></upload-task>
                        </div>
                    </ion-list>
                </div>

                <ion-item lines="none" class="theme--item"></ion-item>
                <ion-item class="theme--item" lines="none"></ion-item>
        
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-justify-content-between ion-padding">
            <ion-button fill="clear" color="danger" (click)="reset()">Reset</ion-button>
            <ion-button fill="clear" (click)="dismiss()">Close</ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>