<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="(team$ | async)">Resources</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="addResource()">
      <ion-icon [ios]="'add' + '-outline'" [md]="'add' + '-sharp'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <ion-list lines="none" class="theme--list">

      <ion-list-header>
        National Resources
      </ion-list-header>

      <ion-card class="ion-padding" *ngFor="let link of national" (click)="viewSite(link)" button>
        <ion-item class="theme--item">
          <ion-icon slot="start" [ios]="'link' + '-outline'" [md]="'link' + '-sharp'"></ion-icon>
          <ion-label text-wrap>
            <h3><strong>{{ link.name }}</strong></h3>
            <a>{{ link.url }}</a>
          </ion-label>
          <ion-button fill="clear" slot="end" (click)="viewSite(link)">
            <ion-icon slot="icon-only" [ios]="'open' + '-outline'" [md]="'open' + '-sharp'"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>

      <ion-list-header class="state--header">
        State Resources
      </ion-list-header>

      <ion-item lines="none" class="theme--item">
        <ion-select slot="start" placeholder="Select State" [(ngModel)]="state" (ionChange)="getLocal($event)"
          interface="action-sheet">
          <ion-select-option *ngFor="let state of states" [value]="state">{{ state.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-card class="ion-padding" *ngFor="let link of local" (click)="viewSite(link)" button>
        <ion-item class="theme--item">
          <ion-icon slot="start" [ios]="'link' + '-outline'" [md]="'link' + '-sharp'"></ion-icon>
          <ion-label text-wrap>
            <h3><strong>{{ link.name }}</strong></h3>
            <a>{{ link.url }}</a>
          </ion-label>
          <ion-button fill="clear" slot="end" (click)="viewSite(link)">
            <ion-icon slot="icon-only" [ios]="'open' + '-outline'" [md]="'open' + '-sharp'"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>

      <div *ngIf="custom.length">
        <ion-list-header>
          Team Resources
        </ion-list-header>
  
        <ion-card *ngFor="let link of custom" class="ion-padding" button (click)="viewSite(link)">
          <ion-item class="theme--item">
            <ion-icon slot="start" [ios]="'link' + '-outline'" [md]="'link' + '-sharp'"></ion-icon>
            <ion-label text-wrap>
              <h3><strong>{{ link.name }}</strong></h3>
              <a>{{ link.url }}</a>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="viewSite(link)">
              <ion-icon slot="icon-only" [ios]="'open' + '-outline'" [md]="'open' + '-sharp'"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
      </div>

      <ion-item lines="none" class="theme--item"></ion-item>

    </ion-list>
  </div>
</ion-content>