<ion-content>
    <div id="container">
        <auth-form (submitted)="registerUser($event)">
            <h1>Please Register</h1>
            <a routerDirection="root" routerLink="/auth/login">Already have an account? <ion-text class="secondary-action">
                    <b>Login</b></ion-text></a>
            <ion-button type="submit" expand="block">
                Create account
            </ion-button>
            <div class="error" *ngIf="error">
                {{ error }}
            </div>
        </auth-form>
    </div>
</ion-content>