<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{ (team$ | async)?.name }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list class="theme--list">
        <div *ngFor="let m of members; let i = index">
            <ion-item *ngIf="m.isChecked" lines="none" button class="theme--item" detail="false">
                <ion-avatar slot="start">
                    <img *ngIf="m.profile && m.profile.url; else elseMemberAvatar" src="{{ m.profile.url }}">
                    <ng-template #elseMemberAvatar>
                        <ngx-avatar *ngIf="m.profile" name="{{ m.profile.displayName }}" size="40"></ngx-avatar>
                    </ng-template>
                </ion-avatar>
                <ion-label *ngIf="m.profile">
                    <h3>{{ m.profile.displayName }}</h3>
                    <p>{{ m.profile.email }}</p>
                </ion-label>
                <ion-icon *ngIf="m.status == 'Admin'" [ios]="'key' + '-outline'" [md]="'key' + '-sharp'"></ion-icon>
                <ion-button slot="end" fill="clear" *ngIf="m.uid !== (profile$ | async)?.uid; else elseIcon"
                    (click)="removeMember(m)">
                    <ion-icon color="medium" slot="icon-only" [ios]="'close-circle' + '-outline'"
                        [md]="'close-circle' + '-sharp'">
                    </ion-icon>
                </ion-button>
                <ng-template #elseIcon>
                    <ion-button slot="end" fill="clear">
                        <ion-icon color="medium" slot="icon-only" [ios]="'lock-closed' + '-outline'"
                            [md]="'lock-closed' + '-sharp'">
                        </ion-icon>
                    </ion-button>
                </ng-template>
            </ion-item>
        </div>
        <div *ngFor="let p of (member$ | async)?.pending; let i = index">
            <ion-item *ngIf="p.isChecked" lines="none" button class="theme--item" detail="false">
                <ion-avatar slot="start">
                    <ngx-avatar *ngIf="p.profile; else pendingAvatar" name="{{ p.profile.email }}" [size]="40"></ngx-avatar>
                    <ng-template #pendingAvatar>
                        <ngx-avatar name="{{ p.email }}" [size]="40"></ngx-avatar>
                    </ng-template>
                </ion-avatar>
                <ion-label>
                    <h3 *ngIf="p.profile; else pendingLabel">{{ p.profile.email }}</h3>
                    <ng-template #pendingLabel>
                        <h3>{{ p.email }}</h3>
                    </ng-template>
                    <p>Pending</p>
                </ion-label>
                <ion-button slot="end" fill="clear"
                    (click)="removePendingMember(p)">
                    <ion-icon color="medium" slot="icon-only" [ios]="'close-circle' + '-outline'"
                        [md]="'close-circle' + '-sharp'">
                    </ion-icon>
                </ion-button>
            </ion-item>
        </div>
        <ion-item lines="none" class="theme--item">
            <ion-icon slot="start" [ios]="'people' + '-outline'" [md]="'people' + '-sharp'"></ion-icon>
            <ion-input [(ngModel)]="email" (keyup.enter)="addMember()" placeholder="Add members"
                [color]="error ? 'danger' : ''"></ion-input>
            <ion-button slot="end" fill="clear" (click)="addMember()">
                <ion-icon slot="icon-only" [ios]="'person-add' + '-outline'" [md]="'person-add' + '-sharp'">
                </ion-icon>
            </ion-button>
        </ion-item>
        <div *ngIf="newMembers.length">
            <ion-item lines="none" class="theme--item">
                <p>Add:
                    <ion-chip *ngFor="let n of newMembers; let i = index;">
                        <ion-icon [ios]="'person' + '-outline'" [md]="'person' + '-sharp'"></ion-icon>
                        <ion-label>{{ n }}</ion-label>
                        <ion-icon [ios]="'close-circle' + '-outline'" [md]="'close-circle' + '-sharp'"
                            (click)="removeNewMember(n)">
                        </ion-icon>
                    </ion-chip>
                </p>
            </ion-item>
        </div>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-justify-content-center">
            <ion-button (click)="updateMembers()" expand="block">Save</ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>