<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{ (team$ | async)?.name }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list class="theme--list">
        <div *ngFor="let m of members; let i = index">
            <ion-item *ngIf="m.isChecked" lines="none" button class="theme--item" detail="false">
                <ion-avatar slot="start">
                    <img *ngIf="m.profile && m.profile.url; else elseMemberAvatar" src="{{ m.profile.url }}">
                    <ng-template #elseMemberAvatar>
                        <ngx-avatar *ngIf="m.profile" name="{{ m.profile.displayName }}" size="40"></ngx-avatar>
                    </ng-template>
                </ion-avatar>
                <ion-label *ngIf="m.profile">
                    <h3>{{ m.profile.displayName }}</h3>
                    <p>{{ m.profile.email }}</p>
                </ion-label>
                <ion-icon *ngIf="m.status == 'Admin'" [name]="'key' + '-outline'"></ion-icon>
                <ion-button slot="end" fill="clear" *ngIf="m.uid !== (profile$ | async)?.uid; else elseIcon"
                    (click)="removeMember(m)">
                    <ion-icon color="medium" slot="icon-only" [name]="'close-circle' + '-outline'">
                    </ion-icon>
                </ion-button>
                <ng-template #elseIcon>
                    <ion-button slot="end" fill="clear">
                        <ion-icon color="medium" slot="icon-only" [name]="'lock-closed' + '-outline'">
                        </ion-icon>
                    </ion-button>
                </ng-template>
            </ion-item>
        </div>
        <div *ngFor="let p of (member$ | async)?.pending; let i = index">
            <ion-item *ngIf="p.isChecked" lines="none" button class="theme--item" detail="false">
                <ion-avatar slot="start">
                    <ngx-avatar *ngIf="p.profile; else pendingAvatar" name="{{ p.profile.email }}" [size]="40"></ngx-avatar>
                    <ng-template #pendingAvatar>
                        <ngx-avatar name="{{ p.email }}" [size]="40"></ngx-avatar>
                    </ng-template>
                </ion-avatar>
                <ion-label>
                    <h3 *ngIf="p.profile; else pendingLabel">{{ p.profile.email }}</h3>
                    <ng-template #pendingLabel>
                        <h3>{{ p.email }}</h3>
                    </ng-template>
                    <p>Pending</p>
                </ion-label>
                <ion-button slot="end" fill="clear"
                    (click)="removePendingMember(p)">
                    <ion-icon color="medium" slot="icon-only" [name]="'close-circle' + '-outline'">
                    </ion-icon>
                </ion-button>
            </ion-item>
        </div>
        <ion-item lines="none" class="theme--item">
            <ion-icon slot="start" [name]="'people' + '-outline'"></ion-icon>
            <ion-input [(ngModel)]="email" (keyup.enter)="addMember()" placeholder="Add members"
                [color]="error ? 'danger' : ''"></ion-input>
            <ion-button slot="end" fill="clear" (click)="addMember()">
                <ion-icon slot="icon-only" [name]="'person-add' + '-outline'">
                </ion-icon>
            </ion-button>
        </ion-item>
        <div *ngIf="newMembers.length">
            <ion-item lines="none" class="theme--item">
                <p>Add:
                    <ion-chip *ngFor="let n of newMembers; let i = index;">
                        <ion-icon [name]="'person' + '-outline'"></ion-icon>
                        <ion-label>{{ n }}</ion-label>
                        <ion-icon [name]="'close-circle' + '-outline'"
                            (click)="removeNewMember(n)">
                        </ion-icon>
                    </ion-chip>
                </p>
            </ion-item>
        </div>
    </ion-list>
</ion-content>

<ion-footer [translucent]="true">
    <ion-toolbar>
        <ion-row class="ion-justify-content-between">
            <ion-button fill="clear" color="danger" expand="block">Delete</ion-button>
            <ion-button fill="clear" (click)="updateMembers()" [disabled]="memberStatus == 'Member'">Save</ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>