<ion-header translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ (team$ | async)?.name }}</ion-title>

        <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="updateMembers()" [disabled]="memberStatus == 'Member'">Save
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div id="container">

        <ion-grid fixed class="ion-margin-top">
            <ion-row>

                <ion-col size="12">
                    <img [src]="'../../../../assets/img/otter_' + random + '.svg'">
                </ion-col>

                <ion-col size="12">
                    <strong>Edit your team members</strong>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-note>
                        Be sure to press save after you've made any changes
                    </ion-note>
                </ion-col>

                <ion-col size="12">
                    <ion-item *ngIf="error" class="theme--item" lines="none">
                        <div *ngIf="error">
                            <div class="error" *ngIf="error">
                                {{ error }}
                            </div>
                        </div>
                    </ion-item>
                </ion-col>

                <ion-col *ngFor="let m of members; let i = index" size="12">
                    <ion-item *ngIf="m.isChecked" lines="none" button class="theme--item" detail="false">
                        <ion-avatar slot="start">
                            <img *ngIf="m && m.url; else elseMemberAvatar" src="{{ m.url_150 ? m.url_150 : m.url }}">
                            <ng-template #elseMemberAvatar>
                                <ngx-avatar *ngIf="m" name="{{ m.displayName }}" size="40"></ngx-avatar>
                            </ng-template>
                        </ion-avatar>
                        <ion-label *ngIf="m">
                            <h3>{{ m.displayName }}</h3>
                            <p>{{ m.email }}</p>
                        </ion-label>
                        <ion-icon *ngIf="m.status == 'Admin'" [name]="'key' + '-outline'"></ion-icon>
                        <ion-button slot="end" fill="clear" *ngIf="m.uid !== (profile$ | async)?.uid; else elseIcon"
                            (click)="removeMember(m)">
                            <ion-icon color="medium" slot="icon-only" [name]="'close-circle' + '-outline'">
                            </ion-icon>
                        </ion-button>
                        <ng-template #elseIcon>
                            <ion-button slot="end" fill="clear">
                                <ion-icon color="medium" slot="icon-only" [name]="'lock-closed' + '-outline'">
                                </ion-icon>
                            </ion-button>
                        </ng-template>
                    </ion-item>
                </ion-col>

                <ion-col *ngFor="let p of (member$ | async)?.pending; let i = index" size="12">
                    <ion-item *ngIf="p.isChecked" lines="none" button class="theme--item" detail="false">
                        <ion-avatar slot="start">
                            <ngx-avatar *ngIf="p; else pendingAvatar" name="{{ p.email }}" [size]="40"></ngx-avatar>
                            <ng-template #pendingAvatar>
                                <ngx-avatar name="{{ p.email }}" [size]="40"></ngx-avatar>
                            </ng-template>
                        </ion-avatar>
                        <ion-label>
                            <h3 *ngIf="p; else pendingLabel">{{ p.email }}</h3>
                            <ng-template #pendingLabel>
                                <h3>{{ p.email }}</h3>
                            </ng-template>
                            <p>Pending</p>
                        </ion-label>
                        <ion-button slot="end" fill="clear" (click)="removePendingMember(p)">
                            <ion-icon color="medium" slot="icon-only" [name]="'close-circle' + '-outline'">
                            </ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>

                <ion-col size="12" size-md="8">
                    <ion-item lines='none' class="theme--item">
                        <ion-icon slot="start" name="mail-outline"></ion-icon>
                        <ion-input class="form" placeholder="Add a member by email" [(ngModel)]="email"
                            (keyup.enter)="addMember()" (ionFocus)="emailFocus = true" (ionBlur)="emailFocus = false"
                            [class.focused]="emailFocus"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size="12" size-md="4">
                    <ion-button class="ion-margin-horizontal" expand="block" size="medium" color="warning"
                        (click)="addMember()" [disabled]="!email || !email.length">
                        <ion-icon class="ion-margin-end" name="person-add-outline"></ion-icon>
                        Add Member
                    </ion-button>
                </ion-col>

                <ion-col size="12" *ngIf="newMembers.length">
                    <ion-item lines="none" class="theme--item">
                        <ion-icon slot="start" name="people-outline"></ion-icon>
                        <ion-label text-wrap>
                            <p>
                                <ion-chip *ngFor="let member of newMembers" outline color="primary">
                                    <ion-icon name="person-outline"></ion-icon>
                                    <ion-label>{{ member }}</ion-label>
                                    <ion-icon name="close-circle-outline" (click)="removeNewMember(member)">
                                    </ion-icon>
                                </ion-chip>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-col>

            </ion-row>

        </ion-grid>
    </div>

    <ion-item class="theme--item" lines="none"></ion-item>
    <ion-item class="theme--item" lines="none"></ion-item>

</ion-content>