<ion-header translucent>
    <ion-toolbar>
        <ion-title>Verify Account</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div id="container">
        <ion-card class="auth--card mfa--card">
            <ion-card-content>
                <ion-grid>
                    <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-justify-content-center" size="12">
                            <ion-icon class="large-icon" name="phone-portrait-outline"></ion-icon>
                        </ion-col>
                        <ion-col class="ion-justify-content-center" size="auto">
                            We sent a verification code to {{ userPhone }}
                        </ion-col> 
                    </ion-row>
                </ion-grid>
                <ion-label class="auth--label">
                    <ion-input class="auth--input" type="text" placeholder="Enter your 6 digit code" [mask]="codeNumber" (ionChange)="checkCode($event)"></ion-input>
                </ion-label>
            </ion-card-content>
        </ion-card>
        <div id="recaptcha-button"></div>
    </div>
</ion-content>