<ion-header translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="dismiss()" [disabled]="firstTime">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ firstTime ? 'Create' : 'Edit' }} Profile</ion-title>

        <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="updateProfile()">Save</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div id="container">
        <ion-grid fixed class="ion-margin-top">
            <ion-row>

                <ion-col size="12">
                    <img [src]="'../../../../assets/img/otter_' + random + '.svg'">
                </ion-col>

                <ion-col size="12" *ngIf="firstTime">
                    <strong>Welcome to Otter!</strong>
                </ion-col>

                <ion-col size="12" *ngIf="firstTime" class="ion-padding-horizontal">
                    <ion-note>Enter your display name and care role to get started</ion-note>
                </ion-col>

                <ion-col size="12" *ngIf="!firstTime">
                    <strong>Edit your info</strong>
                </ion-col>

                <ion-col size="12" *ngIf="!firstTime" class="ion-padding-horizontal">
                    <ion-note>Be sure to press save after you've made any changes (emails are locked for now)</ion-note>
                </ion-col>

                <ion-col size="12" *ngIf="error">
                    <div class="error" *ngIf="error">
                        You need to enter a display name and select a care role.
                    </div>
                </ion-col>

                <ion-col size="12">
                    <ion-item lines="none" class="theme-item">
                        <ion-icon slot="start" name="person-outline"></ion-icon>
                        <ion-input class="form" [(ngModel)]="profile.displayName" placeholder="Add a display name"
                            (ionFocus)="nameFocus = true" (ionBlur)="nameFocus = false" [class.focused]="nameFocus">
                        </ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item lines="none" class="theme-item">
                        <ion-icon slot="start" name="mail-outline"></ion-icon>
                        <ion-input class="form" [(ngModel)]="profile.email" disabled></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item lines="none" class="theme-item">
                        <ion-icon slot="start" name="people-outline"></ion-icon>
                        <ion-select placeholder="Select your team role" class="form" [(ngModel)]="profile.role"
                            [selectedText]="profile.role" interface="popover" (ionFocus)="roleFocus = true"
                            (ionBlur)="roleFocus = false" [class.focused]="roleFocus">
                            <ion-select-option [value]="role.name" *ngFor="let role of roleList">
                                {{ role.name }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>

                <ion-col size="12" class="ion-margin-top ion-padding-horizontal" *ngIf="!firstTime">
                    <ion-button expand="block" (click)="deleteUser()" fill="outline" color="danger">
                        <ion-icon name="trash-outline" class="ion-margin-end"></ion-icon>                        
                        Delete Account
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>

        <ion-item class="theme-item" lines="none"></ion-item>
        <ion-item class="theme-item" lines="none"></ion-item>

    </div>

</ion-content>
