<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{ firstTime ? 'Create' : 'Edit' }} Profile</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()" [disabled]="firstTime">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="clear--card">
                    <ion-card-content>
                        <ion-list class="theme--list" *ngIf="profile">
                            <ion-list *ngIf="firstTime" class="theme--list" inset="true" lines="none">
                                <ion-item detail="false" class="theme--item message--list" lines="none">
                                    <ion-row class="member--row" slot="start">
                                        <ion-avatar class="dialog--member">
                                            <img src="../../../../../assets/img/otter_head.svg">
                                        </ion-avatar>
                                        <ion-col class="member--col" size="auto">
                                            <ion-card color="light" class="dialog message--card message--member">
                                                <ion-card-content>
                                                    <ion-label text-wrap>Welcome to Otter! To get started, enter your display
                                                        name and
                                                        care
                                                        role.</ion-label>
                                                </ion-card-content>
                                            </ion-card>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </ion-list>
                            <ion-list-header>
                                Your Info
                            </ion-list-header>
                            <div *ngIf="error">
                                <div class="error" *ngIf="error">
                                    You need to enter a display name and select a care role.
                                </div>
                            </div>
                            <ion-item lines="none">
                                <ion-icon slot="start" name="person-outline"></ion-icon>
                                <h2 class="full-width"><strong>
                                        <ion-input class="form" [(ngModel)]="profile.displayName"
                                            placeholder="Add a display name">
                                        </ion-input>
                                    </strong></h2>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-icon slot="start" name="mail-outline"></ion-icon>
                                <h2 class="full-width">
                                    <ion-input class="form" [(ngModel)]="profile.email" disabled>
                                    </ion-input>
                                </h2>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-icon slot="start" name="people-outline"></ion-icon>
                                <h2 class="full-width">
                                    <ion-select placeholder="Select your team role" class="form" [(ngModel)]="profile.role"
                                        [selectedText]="profile.role" interface="popover">
                                        <ion-select-option [value]="role.name" *ngFor="let role of roleList">
                                            {{ role.name }}
                                        </ion-select-option>
                                    </ion-select>
                                </h2>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer [translucent]="true">
    <ion-toolbar>
        <ion-row class="ion-justify-content-between ion-padding">
            <ion-button (click)="deleteUser()" fill="clear" color="danger">Delete</ion-button>
            <ion-button color="tertiary" (click)="updateProfile()">Save</ion-button>
        </ion-row>
    </ion-toolbar>
</ion-footer>