<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-chip class="ion-margin-start" *ngIf="ios || android" color="light" (click)="presentPopover($event)">
        <ion-avatar>
          <img *ngIf="(profile$ | async)?.url; else elseMemberAvatar" src="{{ (profile$ | async)?.url_150 ? (profile$ | async)?.url_150 : (profile$ | async)?.url }}">
          <ng-template #elseMemberAvatar>
            <ngx-avatar *ngIf="(profile$ | async)?.displayName; else elseEmailAvatar"
              name="{{ (profile$ | async)?.email }}" [size]="24">
            </ngx-avatar>
            <ng-template #elseEmailAvatar>
              <ngx-avatar name="{{ (profile$ | async)?.email }}" [size]="24">
              </ngx-avatar>
            </ng-template>
          </ng-template>
        </ion-avatar>
        <ion-label>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-label>
      </ion-chip>
      <ion-menu-button *ngIf="!ios && !android"></ion-menu-button>
    </ion-buttons>
    <ion-title [class.title--center]="android">
      <!-- Teams -->
      <img *ngIf="!ios && !android; else elseMobileLogo" [src]="!dark ? '../../assets/img/otter_logo.svg' : '../../assets/img/otter_logo_dark.svg'" width="125px">
      <ng-template #elseMobileLogo>
        <img [src]="!dark ? '../../assets/img/otter_logo.svg' : '../../assets/img/otter_logo_dark.svg'" width="125px">
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teams</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="createTeamModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">

    <ion-list class="theme--list">

      <ion-list-header *ngIf="(teams$ | async) && (teams$ | async).length || (teams$ | async) && !(teams$ | async).length && (pending$ | async) && !(pending$ | async).length">
        Your Teams
      </ion-list-header>

      <ion-card *ngFor="let p of (teams$ | async); let i = index" button routerDirection="root" (click)="goTo(p.id)"
        class="theme--card">
        <ion-item lines="none" class="theme--item thumbnail--list">
          <ion-thumbnail slot="start">
            <ngx-avatar class="teams-avatar" name="{{ p.child }}" [size]="55" [round]="false" [cornerRadius]="10">
            </ngx-avatar>
          </ion-thumbnail>
          <ion-label>
            <h2><strong>{{ p.name }}</strong></h2>
            <h3>Team Id: {{ p.publicId }}</h3>
          </ion-label>
          <ion-tab-button *ngIf="p.unreadMessages + p.unreadFiles + p.unreadNotes > 0" slot="end"
            class="notification--button">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-badge color="danger">{{ p.unreadMessages + p.unreadFiles + p.unreadNotes }}</ion-badge>
          </ion-tab-button>
        </ion-item>
      </ion-card>
      <ion-list class="theme--list" inset="true" lines="none">
        <ion-item class="theme--item thumbnail--list"
          *ngIf="(teams$ | async) && !(teams$ | async).length && (pending$ | async) && !(pending$ | async).length" detail="false"
          lines="none">
          <ion-row class="member--row" slot="start">
            <ion-avatar class="dialog--member">
              <img src="../../../assets/img/otter_head.svg">
            </ion-avatar>
            <ion-col class="member--col" size="auto">
              <ion-row></ion-row>
              <ion-card color="light" class="dialog message--card message--member">
                <ion-card-content>
                  <ion-label text-wrap>You have no teams yet. You can either wait to be added to a team, or you can
                    press the "+" to create a new one!
                  </ion-label>
                </ion-card-content>
              </ion-card>
              <ion-row></ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-list-header *ngIf="(pending$ | async) && (pending$ | async).length">
        Pending Teams
      </ion-list-header>

      <ion-card *ngFor="let p of (pending$ | async); let i = index" (click)="joinTeam(p)" button class="theme--card">
        <ion-item lines="none" class="theme--item thumbnail--list">
          <ion-thumbnail slot="start">
            <ngx-avatar class="teams-avatar" name="{{ p.child }}" [size]="55" [round]="false" [cornerRadius]="10">
            </ngx-avatar>
          </ion-thumbnail>
          <ion-label>
            <h2><strong>{{ p.name }}</strong></h2>
            <h3>Team Id: {{ p.publicId }}</h3>
          </ion-label>
          <ion-button>Join Team</ion-button>
        </ion-item>
      </ion-card>

      <ion-item lines="none" class="theme--item"></ion-item>

    </ion-list>

  </div>

</ion-content>