<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Teams
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teams</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="createTeamModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">

    <ion-list class="theme--list">

      <ion-list-header>
        Your Teams
      </ion-list-header>

      <ion-card *ngFor="let p of (teams$ | async); let i = index" button routerDirection="root" (click)="goTo(p.id)" class="theme--card">
        <ion-item lines="none" class="theme--item thumbnail--list">
          <ion-thumbnail slot="start">
            <ngx-avatar class="teams-avatar" name="{{ p.child }}" [size]="55" [round]="false" [cornerRadius]="10">
            </ngx-avatar>
          </ion-thumbnail>
          <ion-label>
            <h2><strong>{{ p.name }}</strong></h2>
            <h3>Team Id: {{ p.publicId }}</h3>
          </ion-label>
          <ion-tab-button *ngIf="p.unreadMessages + p.unreadFiles + p.unreadNotes > 0" slot="end" class="notification--button">
            <ion-icon name="notifications-outline"></ion-icon>            
            <ion-badge color="danger">{{ p.unreadMessages + p.unreadFiles + p.unreadNotes }}</ion-badge>
          </ion-tab-button>
        </ion-item>
      </ion-card>

      <ion-item lines="none" class="theme--item thumbnail--list" *ngIf="(teams$ | async) && !(teams$ | async).length">
        <ion-label>
          <h2><strong>No teams yet</strong></h2>
        </ion-label>
      </ion-item>

      <ion-list-header *ngIf="(pending$ | async) && (pending$ | async).length">
        Pending Teams
      </ion-list-header>

      <ion-card *ngFor="let p of (pending$ | async); let i = index" (click)="joinTeam(p)" button class="theme--card">
        <ion-item lines="none" class="theme--item thumbnail--list">
          <ion-thumbnail slot="start">
            <ngx-avatar class="teams-avatar" name="{{ p.child }}" [size]="55" [round]="false" [cornerRadius]="10">
            </ngx-avatar>
          </ion-thumbnail>
          <ion-label>
            <h2><strong>{{ p.name }}</strong></h2>
            <h3>Team Id: {{ p.publicId }}</h3>
          </ion-label>
          <ion-button>Join Team</ion-button>
        </ion-item>
      </ion-card>
      
      <ion-item lines="none" class="theme--item"></ion-item>

    </ion-list>

  </div>

</ion-content>