ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2.5%;
  position: relative;
  // left: 0;
  // right: 0;
  // top: 25%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

.arrow-top {
  --ion-text-color: var(--ion-color-secondary);
  overflow: visible;
	position: relative;
}
.arrow-top:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: var(--ion-color-success);
}

.ios.arrow-top:after {
  border-width: 24px;
  margin-left: -24px;
}

.md.arrow-top:after {
  border-width: 10px;
  margin-left: -10px;
}