.pick-date {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}

.date-dash {
    padding-left: 16px;
}

.first-button {
    margin-left: 0 !important;
}

.guest-list {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.date--grid {
    padding-inline-start: 0 !important;
}

.date--col {
    padding-inline-start: 0 !important;
}