<ion-header translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Event Details</ion-title>

        <ion-buttons slot="end">
            <ion-button color="tertiary" fill="solid" (click)="updateEvent()"
                [disabled]="!(memberStatus == 'Admin') || event.recurrenceId">
                Save
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div id="container">
        <ion-grid fixed class="ion-margin-top">
            <ion-row>

                <ion-col size="12">
                    <img [src]="'../../../../assets/img/otter_' + random + '.svg'">
                </ion-col>

                <ion-col size="12">
                    <strong>Edit this event</strong>
                </ion-col>

                <ion-col *ngIf="memberStatus == 'Admin'" size="12" class="ion-padding-horizontal">
                    <ion-note>
                        Be sure to press save after any event changes
                    </ion-note>
                </ion-col>

                <ion-col *ngIf="!(memberStatus == 'Admin')" size="12" class="ion-padding-horizontal">
                    <ion-note>
                        Only the creator of this event can edit or remove it
                    </ion-note>
                </ion-col>

                <ion-col *ngIf="event.recurrenceId" size="12" class="ion-padding-horizontal">
                    <ion-note>
                        Recurring events can be changed in the original
                    </ion-note>
                </ion-col>

                <ion-col size="12" *ngIf="error">
                    <div class="error" *ngIf="error">
                        You need an event name.
                    </div>
                </ion-col>

                <ion-col size="12">
                    <ion-item class="theme-item" lines="none">
                        <ion-icon slot="start" name="calendar-outline"></ion-icon>
                        <ion-input (ionChange)="nameChange()" [(ngModel)]="event.name" placeholder="Add title"
                            [disabled]="!(memberStatus == 'Admin') || event.recurrenceId" class="form visible"
                            (ionFocus)="nameFocus = true" (ionBlur)="nameFocus = false" [class.focused]="nameFocus">
                        </ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item class="theme-item" lines="none">
                        <ion-icon slot="start" name="location-outline"></ion-icon>
                        <ion-input class="form" [(ngModel)]="event.location" placeholder="Add location"
                            [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                            (ionFocus)="locationFocus = true" (ionBlur)="locationFocus = false"
                            [class.focused]="locationFocus"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item class="theme-item" lines="none">

                        <ion-icon slot="start" name="time-outline"></ion-icon>
                        <ion-grid class="date--grid" fixed>
                            <ion-row class="ion-align-items-center">
                                <ion-col class="date--col" size="auto">
                                    <ion-datetime class="form" [(ngModel)]="event.updateStartTime"
                                        display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY"
                                        (ionChange)="changeStart()"
                                        [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                                        (ionFocus)="startDateFocus = true" (ionBlur)="startDateFocus = false"
                                        [class.focused]="startDateFocus">
                                    </ion-datetime>
                                </ion-col>
                                <ion-col class="date--col" size="auto">
                                    <ion-datetime class="form" [(ngModel)]="event.updateStartTime"
                                        display-format="h:mm A" picker-format="h:mm A" minuteValues="0,15,30,45"
                                        (ionChange)="changeStart()"
                                        [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                                        (ionFocus)="startTimeFocus = true" (ionBlur)="startTimeFocus = false"
                                        [class.focused]="startTimeFocus"></ion-datetime>
                                </ion-col>
                                <ion-col class="date--col ion-justify-content-center" size="auto">&ndash;</ion-col>
                                <ion-col class="date--col" size="auto">
                                    <ion-datetime class="form" [(ngModel)]="event.updateEndTime" display-format="h:mm A"
                                        picker-format="h:mm A" minuteValues="0,15,30,45"
                                        [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                                        (ionFocus)="endTimeFocus = true" (ionBlur)="endTimeFocus = false"
                                        [class.focused]="endTimeFocus">
                                    </ion-datetime>
                                </ion-col>
                                <ion-col class="date--col" size="auto">
                                    <ion-datetime class="form" [(ngModel)]="event.updateEndTime"
                                        display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY"
                                        [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                                        (ionFocus)="endDateFocus = true" (ionBlur)="endDateFocus = false"
                                        [class.focused]="endDateFocus">
                                    </ion-datetime>
                                </ion-col>
                                <ion-col class="date--col" size="12">
                                    <ion-select class="form" [(ngModel)]="event.recurrence"
                                        [selectedText]="event.recurrence === 'once' ? 'Does not repeat' : event.recurrence === 'monthly' ? 'Recurring monthly on the ' + nthWeekday : event.recurrence === 'monthly-last' ? 'Recurring monthly on the last ' + dayString : event.recurrence === 'weekly' ? 'Recurring weekly on ' + dayString : event.recurrence === 'weekdays' ? 'Recurring on weekdays' : event.recurrence === 'annually' ? 'Recurring annually on ' + dayFormat : 'Recurring ' + event.recurrence"
                                        interface="popover"
                                        [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                                        (ionFocus)="recurrenceFocus = true" (ionBlur)="recurrenceFocus = false"
                                        [class.focused]="recurrenceFocus">
                                        <div *ngFor="let r of recurrences">
                                            <ion-select-option [value]="r"
                                                *ngIf="r !== 'monthly-last' || r === 'monthly-last' && lastDay">
                                                {{ r === 'once' ? 'Does not repeat' : r === 'monthly' ? 'Recurring monthly on the ' + nthWeekday : r === 'monthly-last' ? 'Recurring monthly on the last ' + dayString : r === 'weekly' ? 'Recurring weekly on ' + dayString : r === 'weekdays' ? 'Recurring on weekdays' : r === 'annually' ? 'Recurring annually on ' + dayFormat : 'Recurring ' + r }}
                                            </ion-select-option>
                                        </div>
                                    </ion-select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item class="theme-item" lines="none">
                        <ion-icon slot="start" name="people-outline"></ion-icon>
                        <ion-label>Check and select guests</ion-label>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-list class="form" lines="none" inset="true">
                        <ion-item *ngFor="let m of (members$ | async); let i = index" lines="none" class="theme-item"
                            detail="false">
                            <ion-avatar slot="start">
                                <img *ngIf="m.url; else elseMemberAvatar" src="{{ m.url_150 ? m.url_150 : m.url }}">
                                <ng-template #elseMemberAvatar>
                                    <ngx-avatar name="{{ m.displayName }}" size="40"></ngx-avatar>
                                </ng-template>
                            </ion-avatar>
                            <ion-label>
                                <h3>{{ m.displayName }}</h3>
                                <p>{{ m.role }}</p>
                            </ion-label>
                            <ion-checkbox slot="end" [(ngModel)]="m.isChecked" (ionChange)="onChange($event, m)"
                                [disabled]="m.uid === (profile$ | async)?.uid || !(memberStatus == 'Admin') || event.recurrenceId">
                            </ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-col>

                <ion-col size="12">
                    <ion-item class="theme-item" lines="none">
                        <ion-icon slot="start" [name]="'reader-outline'"></ion-icon>
                        <ion-textarea class="form" [(ngModel)]="event.info" placeholder="Add description"
                            autocapitalize="sentences" [disabled]="!(memberStatus == 'Admin') || event.recurrenceId"
                            (ionFocus)="infoFocus = true" (ionBlur)="infoFocus = false" [class.focused]="infoFocus">
                        </ion-textarea>
                    </ion-item>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-button *ngIf="(profile$ | async)?.gcalSync && memberStatus && !event.recurrenceId"
                        expand="block" color="tertiary" (click)="addToGcal()" [disabled]="synced">
                        <ion-icon name="google-outline" class="ion-margin-end"></ion-icon>
                        Add to Google Calendar
                    </ion-button>
                </ion-col>

                <ion-col size="12" class="ion-padding-horizontal">
                    <ion-button expand="block" fill="outline" color="danger" (click)="removeEvent()"
                        [disabled]="!(memberStatus == 'Admin') || event.recurrenceId">Delete Event
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

    <ion-item class="theme-item" lines="none"></ion-item>
    <ion-item class="theme-item" lines="none"></ion-item>

</ion-content>