.pick-date {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}

.date-dash {
    padding-left: 16px;
}

.guest-list {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.date--grid {
    padding-inline-start: 0 !important;
}

.date--col {
    padding-inline-start: 0 !important;
}

#container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}