/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-calendar {
  ion-calendar-month-picker {
    .month-picker {
      .month-packer-item {
        button {
          color: var(--ion-color-secondary) !important;
        }
      }
      .month-packer-item.this-month {
        button {
          border: 1px solid var(--ion-color-white) !important;
        }
      }
    }
  }
  .days-box {
    .days {
      button.days-btn {
        p {
          color: var(--ion-color-secondary) !important;
        }
      }
      button.days-btn.on-selected {
        background-color: var(--ion-color-white) !important;
      }
      button.days-btn.last-month-day,
      button.days-btn.next-month-day {
        p {
          color: var(--ion-color-medium) !important;
        }
      }
    }
  }
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  .title {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 75%;
    ion-button {
      color: var(--ion-color-secondary) !important;
    }
  }
  ion-calendar-week {
    ion-toolbar {
      z-index: 0 !important;
      ul {
        color: var(--ion-color-secondary) !important;
      }
    }
  }
  .week-title {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    li {
      font-weight: bold !important;
    }
  } 
  .days-box { 
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  } 
  .dot{ small{ color: var(--ion-color-secondary) !important; font-size: 40px !important; } }
  background-color: transparent !important;
}

ion-list.member--upload--list {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.md {
  ion-modal {
    --width: 100%;
    --height: 100%;
  }
  ion-title.title--center {
    width: 100%; 
    position: absolute; 
    left: 0; 
    height: 0;
    text-align: center;
  }
  ion-list.upload--list {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .thumbnail--list {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  
  /// customizing md headers like duo
  ion-list-header {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
  /// keeping menu header style
  ion-list-header.menu--header {
    font-size: 22px !important;
    font-weight: 600 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
  }
  .calendar {
    .title { 
      padding: 0 75px !important;
    }
  }
  ion-fab-button.inner--fab {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  ion-fab-button.inner--fab--start {
    margin-inline-end: 16px !important;
  }
  ion-calendar { button.days-btn{ small{ bottom: -20px !important} }}
  ion-calendar {
    button.days-btn.on-selected { 
      color: var(--ion-color-primary-contrast) !important; 
      p { color: var(--ion-color-primary-contrast) !important; }
      small { 
        bottom: -30px !important
      } 
    }
  }
}
.ios {
  .calendar {
    .title { 
      padding: 0 45px !important;
    }
  }
  ion-card.theme--card {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ion-calendar { button.days-btn{ small{ bottom: -15px !important} }}
  ion-calendar { 
    button.days-btn.on-selected {
      color: var(--ion-color-primary-contrast) !important; 
      p { color: var(--ion-color-primary-contrast) !important; } 
      small { 
        bottom: -25px !important
      } 
    }
  }
}

ion-card.clear--card {
  --background: transparent !important;
  box-shadow: none !important;
}

ion-card.empty--list {
  --background: transparent !important;
  box-shadow: none !important;
}

ion-list.theme--list {
  background: transparent !important;
  --ion-background-color: transparent !important;
}

ion-tab-button.notification--button {
  max-width: 75px;
  margin-inline-start: 0;
  color: var(--ion-color-medium);
}

ion-item.theme--item {
    --background: transparent !important;
}

.avatar-thumbnail {
    --border-radius: 50% !important;
}

.profile-thumbnail {
    --size: 150px !important;
}

ion-card.message--card {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

// make bubble pointer a bit cooler
// ion-card.message--user {
//     border-bottom-right-radius: 0px !important;
// }

// ion-card.message--member {
//     border-bottom-left-radius: 0px !important;
// }

ion-avatar.dialog--notes {
  left: 15px;
  top: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

ion-avatar.dialog--member {
  left: 15px;
  bottom: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

ion-avatar.dialog--user {
  right: 15px;
  bottom: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

ion-card-content.message--content {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

ion-item.message--item {
  --min-height: 0 !important;
  div.item-native {
    min-height: 0 !important;
  }
}

ion-row.user--row {
  max-width: 75% !important;
}

ion-col.user--col {
  padding-top: 0.5px !important;
  padding-bottom: 0.5px !important;
  margin-inline-end: 40px !important;
}

ion-row.member--row {
  max-width: 75%;
}

ion-col.member--col {
  padding-top: 0.5px !important;
  padding-bottom: 0.5px !important;
  margin-inline-start: 40px !important;
}

.half--margin--left {
  margin-inline-start: 5px;
}

.half--margin--right {
  margin-inline-end: 5px;
}

.half--margin--bottom {
  margin-bottom: 5px;
}

.half--margin--top {
  margin-top: 5px;
}

ion-content.scroll-ios {
  --offset-bottom: 0px !important;
}

.calendar {
  .title { 
    background: var(--ion-color-light) !important;
    border-radius: 10px !important;
  }
}

ion-list.form {
  margin-top: 0 !important;
  border-radius: 10px !important;
  background: var(--ion-color-light) !important;
}

ion-input.form {
  --padding-start: 15px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  --background: var(--ion-color-light) !important;
}

ion-textarea.form {
  --padding-start: 15px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  --background: var(--ion-color-light) !important;
}

ion-select.form {
  width: 100%;
  --padding-end: 15px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  background: var(--ion-color-light) !important;
  --background: var(--ion-color-light) !important;
}

ion-datetime.form {
  --padding-end: 15px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  background: var(--ion-color-light) !important;
  --background: var(--ion-color-light) !important;
}

ion-icon.large-icon {
  font-size: 48px;
}

.theme--modal--css .modal-wrapper {
  --border-radius: 10px !important;  
}

.full-width {
  width: 100% !important;
}

ion-col.profile--info--col {
  margin-top: -10px;
}

ion-card.profile--info--card {
  overflow: visible;
  min-height: 100% !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.profile--content {

  scroll-content {
      display: flex !important;
      flex-direction: column !important;
  }

  ion-grid {
      display: flex;
      flex-flow: column;
      padding: 0 !important;
      min-height: 100% !important;
  }

  ion-row.profile--info--row {
      flex: 1 !important;
  }

}

.calendar--content {

  scroll-content {
      display: flex !important;
      flex-direction: column !important;
  }

  ion-grid {
      display: flex;
      flex-flow: column;
      padding: 0 !important;
      min-height: 100% !important;
  }

  ion-row.profile--info--row {
      flex: 1 !important;
  }

}

:host ::ng-deep {
  .error {
    color: #a94442;
    //background: #f2dede;
    border: 1px solid #e4b3b3;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
  }
}

.error {
  color: #a94442;
  //background: #f2dede;
  border: 1px solid #e4b3b3;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}

ion-item.upload--item {
  --border-width: 0 !important;
  --inner-border-width: 0 !important;
}

ion-card.dialog {
  box-shadow: none !important;
}

ion-card.tile--card {
  ion-card-header {
    padding-inline-start: 16px !important;
    padding-inline-end: 16px !important;
    // padding-top: 16px !important;
    // padding-bottom: 16px !important;
  }
}

strong {
  font-size: 16px !important;
}

ion-item.changeUser {
  --padding-top: 5px !important;
}

/// labels for fab
ion-fab-button[title] {
  position: relative;
}

ion-fab-button[title]::after {
  position: absolute;
  content: attr(title);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  padding: 9px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  color: var(--ion-color-secondary);
  background-color: var(--ion-color-primary);
}

.mobile-menu-style {
  .popover-content {
      --width: 100% !important;
  }
}

ion-fab-button.inner--fab {
  --box-shadow: none !important;
}

ion-card {
  border-radius: 10px !important;
}

.popover-content {
  --width: 400px;
  --max-width: 100% !important;
}

ion-slides.fileupload--slides {
  height: 100% !important;
  ion-slide {
    width: 100% !important;
    ion-list {
      width: 100%;
      min-height: 100% !important;
      max-height: 100% !important;
      overflow-y: auto !important;
    }
  }
}
ion-content {
  ion-fab.fileupload--fab {
    text-align: center !important;
    margin-inline-start: 0 !important;
    left: 0 !important;
    right: 0 !important;
    ion-button {
      --box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
    }
  }
}

div.text-top {
  display: inline-block;
}

.file-button [type=file] {
  overflow: hidden;
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}


.message--files {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 1px solid var(--ion-color-medium);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 9px;
  margin-bottom: 5px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message--image {
  width: 100%;
}

ion-button.message--file {
  --box-shadow: none !important;
  margin: 0 !important;
  background: var(--ion-color-light);
  border-radius: 4px;
  height: auto;
  width: 100%;
  max-width: 200px;
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-button.message--file--height {
  height: 200px !important;
}

ion-button.message--file--output {
  min-width: 200px;
}

ion-label.message--file--label {
  text-transform: none !important;
}

.message--image--button {
  margin: 0;
  top: 0;
  position: absolute;
  margin-left: -15px;
}

ion-progress-bar.message--image--progress {
  max-width: 200px;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-text {
  display: flex !important;
  justify-content: flex-start !important;
}

.presence--dot--component {
  margin-top: 4px;
  margin-left: 4px;
}

.inline--icon--component {
  margin-inline-start: 0 !important;
}

.presence--dot--title {
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
}

.file--fab {
  button, button:focus, .button.alt:focus {
    outline: none !important;
    background: transparent !important;
  }
  position: relative !important;
  ion-fab-button.fab-button-close-active {
    display: none !important;
  }
}

.file--label--input-enabled {
  pointer-events: unset !important;
  max-width: unset !important;
  flex: auto !important;
}

.file--label--input-disabled {
  pointer-events: none !important;
  max-width: unset !important;
  flex: auto !important;
  opacity: 0.5 !important;
}

.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  min-width: 100%;
  height: 200px;
  border: 2px dashed var(--ion-color-warning);
  border-radius: 5px;
  margin: 10px 0;
  &.hovering {
      border: 2px solid var(--ion-color-warning);
      color: #dadada !important;
  }
}

ion-row.profile--pic--row {
  img.profile--pic--background {
    min-width: 800px !important;
  }
  img.event--pic--background {
    min-width: 975px !important;
  }
}

ion-col.profile--pic--col {
  position: absolute !important;
}

ion-fab-button.profile--pic--fab {
  margin-left: auto !important;
  margin-right: auto !important;
}

ion-card.dashed-card {
  box-shadow: none !important;
  border: 2px dashed var(--ion-color-primary) !important;
}

.upload--remove--button {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

ion-toolbar.theme--toolbar {
    --background: transparent !important;
    --opacity: 0 !important;
}

.circle-progress-button {
  --border-radius: 50% !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  height: auto !important;
  width: auto !important;
}

.circle-progress-button-properties {
  height: 66px !important;
  cursor: pointer !important;
}

img.teams--logo {
  vertical-align: middle !important;
}

ion-select.focused {
  z-index: 100 !important;
  border: 1px solid var(--ion-color-primary) !important;
}

ion-input.focused {
  z-index: 100 !important;
  border: 1px solid var(--ion-color-primary) !important;
}

ion-textarea.focused {
  z-index: 100 !important;
  border: 1px solid var(--ion-color-primary) !important;
}

ion-datetime.focused {
  z-index: 100 !important;
  border: 1px solid var(--ion-color-primary) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-radius: inherit !important;
  z-index: inherit !important;
}

ion-button.password--button {
  z-index: 101 !important;
  height: auto !important;
  position: absolute !important;
  right: 0 !important;
  --padding-start: 0.5em !important;
  --padding-end: 0.5em !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

ion-button.full-screen-button {
  max-width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}