/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-calendar { background-color: transparent !important; } 
ion-calendar { .dot{ small{ color: var(--ion-color-medium) !important; font-size: 40px !important; } }}
ion-calendar { .days-box { padding: 0.5rem 0 !important} }
.md {
    ion-calendar { button.days-btn{ small{ bottom: -20px !important} }}
    ion-calendar { button.days-btn.on-selected{ small{ bottom: -30px !important} }}
}
.ios {
    ion-calendar { button.days-btn{ small{ bottom: -15px !important} }}
    ion-calendar { button.days-btn.on-selected{ small{ bottom: -25px !important} }}
}

ion-card {
    border-radius: 10px !important;
}

.ios {
  ion-card.theme--card {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

ion-list.theme--list {
    background: transparent !important;
    --ion-background-color: transparent !important;
}

ion-card.empty--list {
  --background: transparent !important;
  box-shadow: none !important;
}

ion-tab-button.notification--button {
  max-width: 50px;
  margin-inline-start: 0;
  color: var(--ion-color-medium);
}

ion-item.theme--item {
    --background: transparent !important;
}

.avatar-thumbnail {
    --border-radius: 50% !important;
}

.profile-thumbnail {
    --size: 150px !important;
}

ion-card.message--card {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

// make bubble pointer a bit cooler
// ion-card.message--user {
//     border-bottom-right-radius: 0px !important;
// }

// ion-card.message--member {
//     border-bottom-left-radius: 0px !important;
// }

ion-avatar.dialog--notes {
  left: 15px;
  top: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

ion-avatar.dialog--member {
  left: 15px;
  bottom: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

ion-avatar.dialog--user {
  right: 15px;
  bottom: 0;
  position: absolute;
  height: 40px;
  width: 40px;
}

ion-row.user--row {
  max-width: 75% !important;
}

ion-col.user--col {
  margin-inline-end: 40px !important;
}

ion-row.member--row {
  max-width: 75%;
}

ion-col.member--col {
  margin-inline-start: 40px !important;
}

.half--margin--left {
  margin-inline-start: 5px;
}

.half--margin--right {
  margin-inline-end: 5px;
}

.half--margin--bottom {
  margin-bottom: 5px;
}

.half--margin--top {
  margin-top: 5px;
}

ion-content.scroll-ios {
  --offset-bottom: 0px !important;
}

.calendar {
  .title { 
    background: var(--ion-color-light) !important;
    border-radius: 10px !important;
  }
}

.md .calendar {
  .title { 
    padding: 0 75px !important;
  }
}

.ios .calendar {
  .title { 
    padding: 0 45px !important;
  }
}

ion-input.form {
  --padding-start: 15px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  --background: var(--ion-color-light) !important;
}

ion-select.form {
  --padding-end: 15px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  background: var(--ion-color-light) !important;
  --background: var(--ion-color-light) !important;
}

ion-icon.large-icon {
  font-size: 48px;
}
