<ion-item-divider *ngIf="!profilePicture" class="file-upload"></ion-item-divider>

<div class="error" *ngIf="error">
    {{ error }}
</div>

<ion-item *ngIf="!profilePicture" class="theme-item upload--item" lines="none">

    <ion-label [class.file--label--input-enabled]="!uploading && !downloadURL"
        [class.file--label--input-disabled]="uploading || downloadURL">
        <ion-input class="form" [value]="fileName" (ionChange)="onChangeName($event)" placeholder="Enter a file name">
        </ion-input>
    </ion-label>

    <ion-text class="no-margin-inline-start" slot="end">{{ fileExt }}</ion-text>

    <ion-button fill="clear" color="danger" slot="end"
        (click)="task && paused ? task.resume() && task.cancel() && removeFile() : task && !paused ? task.cancel() && removeFile() : removeFile()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>

</ion-item>

<ion-item *ngIf="!profilePicture" class="theme-item upload--item" lines="true">
    <ion-icon slot="start" color="primary" name="document-text-outline" *ngIf="!scan; else viewPreview">
    </ion-icon>
    <ng-template #viewPreview>
        <ion-thumbnail slot="start" (click)="enlargePreview()" button>
            <img [src]="scan.sanitizedPdf">
        </ion-thumbnail>
    </ng-template>
    <ion-label text-wrap>
        <h3>
            {{ finalDestination && !finalDestination.uid ? 'Folder: ' + finalDestination.name : finalDestination && finalDestination.uid ? 'Folder: ' + finalDestination.displayName : 'Upload file' }}
        </h3>
        <h3>{{ !scan ? (file.size | filesize) : 'Pages: ' + scan.imgs.length }} </h3>
        <ion-button *ngIf="scan" (click)="emitAddPage()" [disabled]="downloadURL || uploading">
            <ion-icon name="add-circle-outline"></ion-icon>Add Page
        </ion-button>
    </ion-label>
    <ion-button fill="clear" class="circle-progress-button"
        (click)="!downloadURL && !paused && !uploading ? startUpload() : downloadURL && uploading && !paused ? task.pause() && paused = true : !downloadURL && uploading && paused ? task.resume() && paused = false : taskCompleted()"
        [disabled]="error === 'You need a file name.'">
        <circle-progress class="circle-progress-button-properties" *ngIf="(percentage | async) as pct; else zeroPct"
            [renderOnClick]="false" [startFromZero]="false" [percent]="pct" [radius]="28" [outerStrokeWidth]="5"
            [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'var(--ion-color-primary-shade)'"
            [innerStrokeColor]="'var(--ion-color-light)'" [animation]="false"
            [imageSrc]="pct !== 100 && uploading && !paused ? '../../../assets/pause-outline.svg' : pct !== 100 && uploading && paused ? '../../../assets/play-outline.svg' : '../../../assets/cloud-done-outline.svg'"
            [imageHeight]="24" [imageWidth]="24" [showImage]="true" [backgroundPadding]="0">
        </circle-progress>
        <ng-template #zeroPct>
            <circle-progress class="circle-progress-button-properties" [renderOnClick]="false" [startFromZero]="false"
                [percent]="0" [radius]="28" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-5"
                [outerStrokeColor]="'var(--ion-color-primary-shade)'" [innerStrokeColor]="'var(--ion-color-light)'"
                [animation]="false" [imageSrc]="'../../../assets/cloud-upload-outline.svg'" [imageHeight]="24"
                [imageWidth]="24" [showImage]="true" [backgroundPadding]="0">
            </circle-progress>
        </ng-template>
    </ion-button>
</ion-item>

<div *ngIf="profilePicture">
    <ion-button 
        fill="outline" 
        class="picture-upload"
        (click)="!downloadURL && !paused && !uploading ? startUpload() : downloadURL && uploading && !paused ? task.pause() && paused = true : !downloadURL && uploading && paused ? task.resume() && paused = false : taskCompleted()">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col>
                    <ion-button fill="clear" class="circle-progress-button"
                        (click)="!downloadURL && !paused && !uploading ? startUpload() : downloadURL && uploading && !paused ? task.pause() && paused = true : !downloadURL && uploading && paused ? task.resume() && paused = false : taskCompleted()"
                        [disabled]="error === 'You need a file name.'">
                        <circle-progress class="circle-progress-button-properties"
                            *ngIf="(percentage | async) as pct; else zeroPct" [renderOnClick]="false"
                            [startFromZero]="false" [percent]="pct" [radius]="28" [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" [space]="-5" [outerStrokeColor]="'var(--ion-color-primary-shade)'"
                            [innerStrokeColor]="'var(--ion-color-light)'" [animation]="false"
                            [imageSrc]="pct !== 100 && uploading && !paused ? '../../../assets/pause-outline.svg' : pct !== 100 && uploading && paused ? '../../../assets/play-outline.svg' : '../../../assets/cloud-done-outline.svg'"
                            [imageHeight]="24" [imageWidth]="24" [showImage]="true" [backgroundPadding]="0">
                        </circle-progress>
                        <ng-template #zeroPct>
                            <circle-progress class="circle-progress-button-properties" [renderOnClick]="false"
                                [startFromZero]="false" [percent]="0" [radius]="28" [outerStrokeWidth]="5"
                                [innerStrokeWidth]="5" [space]="-5"
                                [outerStrokeColor]="'var(--ion-color-primary-shade)'"
                                [innerStrokeColor]="'var(--ion-color-light)'" [animation]="false"
                                [imageSrc]="'../../../assets/cloud-upload-outline.svg'" [imageHeight]="24"
                                [imageWidth]="24" [showImage]="true" [backgroundPadding]="0">
                            </circle-progress>
                        </ng-template>
                    </ion-button>
                </ion-col>
                <ion-col>
                    Upload
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-button>
    <ion-item class="theme-item" lines="none"></ion-item>
    <ion-item class="theme-item" lines="none"></ion-item>
</div>