<ion-header translucent>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>File Details</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <div id="container">

    <ion-grid fixed class="ion-margin-top">
      <ion-row>

        <ion-col size="12">
          <img [src]="'../../../../assets/img/otter_' + random + '.svg'">
        </ion-col>

        <ion-col size="12">
          <strong>Manage this file</strong>
        </ion-col>

        <ion-col size="12" class="ion-padding-horizontal">
          <ion-note>
            Be sure to press the save button to keep any name changes
          </ion-note>
        </ion-col>

        <ion-col size="12" *ngIf="error">
          <div class="error" *ngIf="error">
            {{ error }}
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item class="theme-item upload--item" lines="true">

            <ion-label class="file--label--input-enabled">
              <ion-input class="form" [value]="updateName" (ionChange)="onChangeName($event)"
                placeholder="Enter a file name"></ion-input>
            </ion-label>

            <ion-text class="no-margin-inline-start" slot="end">{{ fileExt }}</ion-text>

          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item class="theme-item" lines="none">

            <ion-icon slot="start" color="primary" name="document-text-outline"></ion-icon>

            <ion-label text-wrap>
              <p>File saved in
                {{ !folder.uid ? 'the ' + folder.name + ' group folder' : folder.uid !== uid ? 'your direct folder with ' + folder.displayName : 'your private folder' }}
              </p>
              <p>
                Uploaded by
                {{ (file.profile | async) ? (file.profile | async)?.displayName : file.uid !== uid ? folder.profile.displayName : (profile$ | async)?.displayName }}
                <ion-text *ngIf="time > file.timestamp.toMillis(); else elseDate" class="message--time" color="medium">
                  {{ file.timestamp.toMillis() | date : 'short' }}</ion-text>
                <ng-template #elseDate>
                  <ion-text class="message--time" color="medium">Today,
                    {{ file.timestamp.toMillis() | date : 'shortTime' }}</ion-text>
                </ng-template>
              </p>
            </ion-label>
            <ion-fab-button *ngIf="!saved" class="inner-fab" slot="end" color="warning" (click)="updateFilename()"
              [disabled]="error || saved !== false">
              <ion-icon name="save-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="saved == true" class="inner-fab" slot="end" color="primary">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-button class="ion-margin-horizontal" expand="block" color="secondary" (click)="previewFile()">
            <ion-icon name="open-outline" class="ion-margin-end"></ion-icon>
            Preview in browser
          </ion-button>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-button class="ion-margin-horizontal" expand="block" color="success" (click)="downloadFile()">
            <ion-icon name="download-outline" class="ion-margin-end"></ion-icon>
            Download to device
          </ion-button>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-button class="ion-margin-horizontal" expand="block" color="tertiary" (click)="copyModal(file, folder)">
            <ion-icon name="copy-outline" class="ion-margin-end"></ion-icon>
            Copy to another folder
          </ion-button>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-button class="ion-margin-horizontal" expand="block" color="danger" (click)="deleteFile()">
            <ion-icon name="trash-outline" class="ion-margin-end"></ion-icon>
            Delete from this folder
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-item class="theme-item" lines="none"></ion-item>
  <ion-item class="theme-item" lines="none"></ion-item>

</ion-content>