ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2.5%;
  position: relative;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-item.pending {
  font-style: italic;
}

ion-avatar.avatar--icon {
  line-height: 40px !important;
  text-align: center !important;
}

.half--margin--left {
  margin-inline-start: 5px;
}

.half--margin--right {
  margin-inline-end: 5px;
}

.half--margin--bottom {
  margin-bottom: 5px;
}

.half--margin--top {
  margin-top: 5px;
}

ion-row.profile--pic--header {
  background-image: url('../../../assets/shapes.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-thumbnail.resources--thumbnail {
  height: auto !important;
}

ion-avatar.resources--avatar {
  --border-radius: 25% !important;
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  line-height: 20px !important;
}