<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!ios && !android"></ion-menu-button>
      <ion-back-button *ngIf="ios || android" [text]="ios ? 'Teams' : null" routerDirection="backwards"
        [defaultHref]="['/Teams']">
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="(team$ | async)">{{ (team$ | async)?.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" value="members">
      <ion-segment-button value="members">
        <ion-label>Members</ion-label>
      </ion-segment-button>
      <ion-segment-button value="child">
        <ion-label>Child</ion-label>
      </ion-segment-button>
      <ion-segment-button value="resources">
        <ion-label>Resources</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="segment" [class.profile--content]="segment === 'child'">

  <div id="container" *ngSwitchCase="'members'">

    <ion-grid fixed>
      <ion-row class="half--margin--right half--margin--left">
        <ion-col size="6" size-md="4" *ngIf="(member$ | async)?.status === 'Admin'">
          <ion-card class="dashed-card half--margin--top half--margin--bottom half--margin--left half--margin--right"
            button (click)="editTeamModal()">
            <ion-card-header class="member-card">
              <ion-item lines="none" class="theme-item member-item">
                <ion-fab-button class="inner-fab member-fab">
                  <ion-icon name="person-add-outline"></ion-icon>
                </ion-fab-button>
              </ion-item>
              <ion-item lines="none" class="theme-item member-item">
                <ion-label class="ion-text-center">
                  <h2>
                    <strong>Edit Team</strong>
                  </h2>
                  <p>Add/Remove</p>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="4"
          *ngFor="let m of (members$ | async); let i = index; let odd = odd; let even = even;">
          <ion-card class="half--margin--top half--margin--bottom half--margin--left half--margin--right" button
            routerDirection="forward" (click)="goTo('Team/Member', m.uid)">
            <ion-card-header class="member-card">
              <ion-item lines="none" class="theme-item member-item">
                <ion-thumbnail class="avatar-thumbnail member-thumbnail">
                  <img *ngIf="m.url; else elseMemberAvatar" src="{{ m.url_150 ? m.url_150 : m.url }}">
                  <ng-template #elseMemberAvatar>
                    <ngx-avatar name="{{ m.displayName }}" [size]="55" [round]="false" [cornerRadius]="55">
                    </ngx-avatar>
                  </ng-template>
                  <app-user-presence class="avatar-presence" [uid]="m.uid"></app-user-presence>
                </ion-thumbnail>
              </ion-item>
              <ion-item lines="none" class="theme-item member-item">
                <ion-label class="ion-text-center admin-label">
                  <h2 class="admin-header">
                    <strong class="wrap-text">
                      {{ m.displayName }}
                    </strong>
                    <ion-button *ngIf="m.status == 'Admin'" fill="clear" color="medium" class="admin-button">
                      <ion-icon slot="icon-only" name="key"></ion-icon>
                    </ion-button>
                  </h2>
                  <p>{{ m.role }}</p>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12"
          *ngIf="(member$ | async)?.status === 'Admin' && (member$ | async)?.pending && (member$ | async)?.pending.length">
          <ion-item lines="none" class="theme-item">
            <p>Pending:
              <ion-chip *ngFor="let p of (member$ | async)?.pending">
                <ion-icon [name]="'person' + '-outline'"></ion-icon>
                <ion-label>{{ p.email }}</ion-label>
              </ion-chip>
            </p>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="theme-item">
            <p class="admin-header">
              Team admin =
              <ion-button fill="clear" color="medium" class="admin-button">
                <ion-icon slot="icon-only" name="key"></ion-icon>
              </ion-button>
            </p>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div *ngSwitchCase="'child'">

    <div class="profile-section">
      <ion-card class="profile-container">
        <img class="profile-img"
          [src]="(dark$ | async) ? '../../../assets/underwater_dark.svg' : '../../../assets/underwater.svg'">
      </ion-card>
      <ion-thumbnail class="avatar-thumbnail profile-thumbnail">
        <img *ngIf="(team$ | async)?.url; else elseChildAvatar"
          src="{{ (team$ | async)?.url_150 ? (team$ | async)?.url_150 : (team$ | async)?.url }}">
        <ng-template #elseChildAvatar>
          <ngx-avatar name="{{ (team$ | async)?.child }}" [size]="150" [round]="false" [cornerRadius]="150">
          </ngx-avatar>
        </ng-template>
      </ion-thumbnail>

      <ion-fab-button class="profile-fab" size="small" (click)="profilePictureModal()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div id="container">
      <ion-list>
        <ion-list-header>
          Child Info
        </ion-list-header>
        <ion-item lines="none" *ngIf="(team$ | async)">
          <ion-icon slot="start" name="happy-outline"></ion-icon>
          <ion-label>
            <h2 class="full-width" *ngIf="(team$ | async)?.child"><strong>{{ (team$ | async)?.child }}</strong>
            </h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="(team$ | async)">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label text-wrap>
            <h2 class="full-width" style="white-space: pre-line;">
              {{ (team$ | async)?.bio ? (team$ | async)?.bio : 'Add a bio, or tell a short story' }}
            </h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="editChildModal()">
              <ion-icon name="create-outline" class="ion-margin-end"></ion-icon>
              Edit Info
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div id="container" *ngSwitchCase="'resources'">
    <ion-list lines="none" class="theme-list">

      <ion-card class="dashed-card" (click)="addResource()" button>

        <ion-card-content>
          <ion-item class="theme-item">
            <ion-fab-button slot="start" class="inner-fab inner--fab--start">
              <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
            <ion-label>
              <h2><strong>Add Resource Link</strong></h2>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card class="ion-padding" *ngFor="let link of (resources$ | async)" button>
        <ion-item class="theme-item" *ngIf="!link.preview; else linkPreview">
          <ion-label text-wrap>
            <h2><strong>{{ link.name }}</strong></h2>
            <p>{{ link.url }}
            <p>
          </ion-label>
        </ion-item>
        <ng-template #linkPreview>
          <ion-item class="theme-item" *ngFor="let linkData of link.preview.result">
            <ion-avatar class="resources--avatar" slot="start">
              <img *ngIf="linkData.favicon || linkData.image; else linkIcon"
                [src]="linkData.favicon ? linkData.favicon : linkData.image">
              <ng-template #linkIcon>
                <ion-icon name="link-outline"></ion-icon>
              </ng-template>
            </ion-avatar>
            <ion-label text-wrap>
              <h2><strong>{{ linkData.title }}</strong></h2>
              <h3>{{ linkData.description }}</h3>
              <p>{{ linkData.url }}</p>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="removeLink(link.id)" *ngIf="link.id">
              <ion-icon slot="icon-only" color="medium" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" slot="end" (click)="viewSite(link)">
              <ion-icon slot="icon-only" color="medium" name="open-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-template>
      </ion-card>

      <ion-item lines="none" class="theme-item"></ion-item>

    </ion-list>
  </div>
</ion-content>