<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842164942057-hm5d7ji9ajbql08gfmgq2ln42jjpjh7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842164942057-hm5d7ji9ajbql08gfmgq2ln42jjpjh7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAi4ksoBFU9QSC68Z2PHHY8tRY3BgWDQjg</string>
	<key>GCM_SENDER_ID</key>
	<string>842164942057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ottertherapies.app</string>
	<key>PROJECT_ID</key>
	<string>ottertherapies</string>
	<key>STORAGE_BUCKET</key>
	<string>ottertherapies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842164942057:ios:873869e7ad6bb76dd3ec78</string>
	<key>DATABASE_URL</key>
	<string>https://ottertherapies.firebaseio.com</string>
</dict>
</plist>